adf-ucb-sisger-dwsubsidio-13353021/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "adf-ucb-sisger-dwsubsidio-13353021"
		},
		"datalake_subsidio_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"datalake_subsidio\""
		},
		"dw_subsidio_password": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"password\"de \"dw_subsidio\""
		},
		"dw_subsidio_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-ucb-sisger-dwsubsidio-13353021.database.windows.net"
		},
		"dw_subsidio_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "dw_subsidio"
		},
		"dw_subsidio_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Soria"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pip_bronze')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "df_bronze",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_bronze_carga_completa",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcsegip": {},
									"srcbjaInscripciones": {},
									"srcBjaEstablecimientos": {},
									"srcBjaPartos": {},
									"srcBjaControlesPrenatales": {},
									"srcBjaControlesPediatricos": {},
									"srcBjaPagos": {},
									"srcSupInscripciones": {},
									"srcSupEstablecimientos": {},
									"srcSupBoletas": {},
									"srcSupCatalogoPaquetes": {},
									"srcSupControles": {},
									"srcSupEntregas": {},
									"bronzeSegip": {},
									"bjaIinscripciones": {},
									"sinkBjaEstablecimientos": {},
									"sinkBjaPartos": {},
									"sinkBjaControlesPrenatales": {},
									"sinkBjaControlesPediatricos": {},
									"sinkBjaPagos": {},
									"sinkSupInscripciones": {},
									"sinkSupEstablecimientos": {},
									"sinkSupBoletas": {},
									"sinkSupCatalogoPaquetes": {},
									"sinkSupControles": {},
									"sinkSupEntregas": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_bronze_carga_completa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pip_bronze_segip')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_bronze_segip",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"bronzesegip": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_bronze_segip')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pip_silver')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "df_silver_segip",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_segip",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcSegip": {},
									"sinkSegip": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_silver_bja_inscripciones",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_silver_segip",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_bja_inscripciones",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcBjaInscripciones": {},
									"sinkBjaInscripciones": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_silver_bja_establecimientos",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_silver_bja_inscripciones",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_bja_establecimientos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcBjaEstablecimientos": {},
									"sinkBjaEstablecimientos": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_silver_bja_partos",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_silver_bja_establecimientos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_bja_partos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcBjaPartos": {},
									"sinkBjaPartos": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_silver_bja_controles_prenatales",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_silver_bja_partos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_bja_controles_prenatales",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcBjaControlesPrenatales": {},
									"sinkBJAcontrolesPrenatales": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_silver_bja_controles_pediatricos",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_silver_bja_controles_prenatales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_bja_controles_pediatricos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcBjaControlesPediatricos": {},
									"sinkBJAcontrolesPediatricos": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_silver_bja_pagos",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_silver_bja_controles_pediatricos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_bja_pagos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcBjaPagos": {},
									"sinkBjaPagos": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_silver_sup_inscripciones",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_silver_bja_pagos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_sup_inscripciones",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcSupInscripciones": {},
									"sinkSupInscripciones": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_silver_sup_establecimientos",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_silver_sup_inscripciones",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_sup_establecimientos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcSupEstablecimientos": {},
									"sinkSupEstablecimientos": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_silver_sup_boletas",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_silver_sup_establecimientos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_sup_boletas",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcSupBoletas": {},
									"sinkSupBoletas": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_silver_sup_catalogopaquetes",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_silver_sup_boletas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_sup_catalogopaquetes",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcSupCatalogoPaquetes": {},
									"sinkSupCatalogoPaquetes": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_silver_sup_controles",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_silver_sup_catalogopaquetes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_sup_controles",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcSupControles": {},
									"sinkSupControles": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_silver_sup_entregas",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_silver_sup_controles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_sup_entregas",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcSupEntregas": {},
									"sinkSupEntregas": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_silver_segip')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_bja_inscripciones')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_bja_establecimientos')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_bja_partos')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_bja_controles_prenatales')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_bja_controles_pediatricos')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_bja_pagos')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_sup_inscripciones')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_sup_establecimientos')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_sup_boletas')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_sup_catalogopaquetes')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_sup_controles')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_sup_entregas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipsilversegip')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_segip",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcSegip": {},
									"sinkSegip": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_silver_segip')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze_bja_controles_pediatricos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "control_pediatrico_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ci_nino",
						"type": "varchar"
					},
					{
						"name": "ci_madre",
						"type": "varchar"
					},
					{
						"name": "establecimiento_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nro_control",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fecha_control",
						"type": "varchar"
					},
					{
						"name": "peso_nino_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "talla_nino_cm",
						"type": "float",
						"precision": 15
					},
					{
						"name": "vacuna_aplicada",
						"type": "varchar"
					},
					{
						"name": "resultado",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "bronze",
					"table": "bja_controles_pediatricos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze_bja_controles_prenatales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "control_prenatal_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ci_beneficiaria",
						"type": "varchar"
					},
					{
						"name": "establecimiento_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nro_control",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fecha_control",
						"type": "varchar"
					},
					{
						"name": "semana_gestacion",
						"type": "float",
						"precision": 15
					},
					{
						"name": "peso_madre_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "presion_arterial",
						"type": "varchar"
					},
					{
						"name": "resultado",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "bronze",
					"table": "bja_controles_prenatales"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze_bja_establecimientos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "establecimiento_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "codigo_snis",
						"type": "varchar"
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "tipo",
						"type": "varchar"
					},
					{
						"name": "nivel_atencion",
						"type": "varchar"
					},
					{
						"name": "municipio",
						"type": "varchar"
					},
					{
						"name": "departamento",
						"type": "varchar"
					},
					{
						"name": "red_salud",
						"type": "varchar"
					},
					{
						"name": "estado",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "bronze",
					"table": "bja_establecimientos_salud"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze_bja_inscripciones')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "inscripcion_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ci_beneficiaria",
						"type": "varchar"
					},
					{
						"name": "establecimiento_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fecha_inscripcion",
						"type": "varchar"
					},
					{
						"name": "semana_gestacion",
						"type": "int",
						"precision": 10
					},
					{
						"name": "estado",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "bronze",
					"table": "bja_inscripciones"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze_bja_pagos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "pago_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ci_beneficiaria",
						"type": "varchar"
					},
					{
						"name": "concepto_pago",
						"type": "varchar"
					},
					{
						"name": "monto_bs",
						"type": "float",
						"precision": 15
					},
					{
						"name": "fecha_pago",
						"type": "varchar"
					},
					{
						"name": "estado_pago",
						"type": "varchar"
					},
					{
						"name": "canal_pago",
						"type": "varchar"
					},
					{
						"name": "nro_comprobante",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "bronze",
					"table": "bja_pagos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze_bja_partos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "parto_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ci_madre",
						"type": "varchar"
					},
					{
						"name": "ci_recien_nacido",
						"type": "varchar"
					},
					{
						"name": "establecimiento_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fecha_parto",
						"type": "varchar"
					},
					{
						"name": "tipo_parto",
						"type": "varchar"
					},
					{
						"name": "peso_nacimiento_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "talla_nacimiento_cm",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "bronze",
					"table": "bja_partos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze_segip')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ci",
						"type": "varchar"
					},
					{
						"name": "nombres",
						"type": "varchar"
					},
					{
						"name": "apellido_paterno",
						"type": "varchar"
					},
					{
						"name": "apellido_materno",
						"type": "varchar"
					},
					{
						"name": "fecha_nacimiento",
						"type": "varchar"
					},
					{
						"name": "genero",
						"type": "varchar"
					},
					{
						"name": "estado_civil",
						"type": "varchar"
					},
					{
						"name": "ci_conyuge",
						"type": "varchar"
					},
					{
						"name": "numero_hijos",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ci_padre",
						"type": "varchar"
					},
					{
						"name": "ci_madre",
						"type": "varchar"
					},
					{
						"name": "profesion",
						"type": "varchar"
					},
					{
						"name": "nivel_estudios",
						"type": "varchar"
					},
					{
						"name": "municipio_residencia",
						"type": "varchar"
					},
					{
						"name": "fecha_emision",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "bronze",
					"table": "segip"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze_sup_boletas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "boleta_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "control_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ci_beneficiaria",
						"type": "varchar"
					},
					{
						"name": "nro_boleta",
						"type": "varchar"
					},
					{
						"name": "fecha_emision",
						"type": "varchar"
					},
					{
						"name": "estado",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "bronze",
					"table": "sup_boletas"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze_sup_catalogopaquetes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "paquete_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "contenido",
						"type": "varchar"
					},
					{
						"name": "peso_estandar_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "costo_estimado_bs",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "bronze",
					"table": "sup_catalogopaquetes"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze_sup_controles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "control_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ci_beneficiaria",
						"type": "varchar"
					},
					{
						"name": "establecimiento_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nro_control",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fecha_control",
						"type": "varchar"
					},
					{
						"name": "semana_gestacion",
						"type": "float",
						"precision": 15
					},
					{
						"name": "peso_madre_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "presion_arterial",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "bronze",
					"table": "sup_controles"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze_sup_entregas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "entrega_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "boleta_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ci_beneficiaria",
						"type": "varchar"
					},
					{
						"name": "establecimiento_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "paquete_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "paquete_nombre",
						"type": "varchar"
					},
					{
						"name": "fecha_entrega",
						"type": "varchar"
					},
					{
						"name": "lote_produccion",
						"type": "varchar"
					},
					{
						"name": "peso_paquete_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "fecha_proxima_entrega",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "bronze",
					"table": "sup_entregas"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze_sup_establecimientos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "establecimiento_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "codigo_snis",
						"type": "varchar"
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "tipo",
						"type": "varchar"
					},
					{
						"name": "nivel_atencion",
						"type": "varchar"
					},
					{
						"name": "municipio",
						"type": "varchar"
					},
					{
						"name": "departamento",
						"type": "varchar"
					},
					{
						"name": "red_salud",
						"type": "varchar"
					},
					{
						"name": "estado",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "bronze",
					"table": "sup_establecimientos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze_sup_inscripciones')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "inscripcion_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ci_beneficiaria",
						"type": "varchar"
					},
					{
						"name": "establecimiento_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fecha_inscripcion",
						"type": "varchar"
					},
					{
						"name": "semana_gestacion",
						"type": "int",
						"precision": 10
					},
					{
						"name": "estado",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "bronze",
					"table": "sup_inscripciones"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_dim_establecimiento')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "establecimiento_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sistema",
						"type": "varchar"
					},
					{
						"name": "codigo_snis",
						"type": "varchar"
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "tipo",
						"type": "varchar"
					},
					{
						"name": "nivel_atencion",
						"type": "varchar"
					},
					{
						"name": "municipio",
						"type": "varchar"
					},
					{
						"name": "departamento",
						"type": "varchar"
					},
					{
						"name": "red_salud",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "dim_establecimiento"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_dim_paquete')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "paquete_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "contenido",
						"type": "varchar"
					},
					{
						"name": "peso_estandar_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "costo_estimado_bs",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "dim_paquete"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_dim_persona')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "persona_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ci",
						"type": "varchar"
					},
					{
						"name": "nombres",
						"type": "varchar"
					},
					{
						"name": "ap_paterno",
						"type": "varchar"
					},
					{
						"name": "ap_materno",
						"type": "varchar"
					},
					{
						"name": "fecha_nac",
						"type": "date"
					},
					{
						"name": "edad",
						"type": "int",
						"precision": 10
					},
					{
						"name": "genero",
						"type": "varchar"
					},
					{
						"name": "estado_civil",
						"type": "varchar"
					},
					{
						"name": "municipio",
						"type": "varchar"
					},
					{
						"name": "numero_hijos",
						"type": "int",
						"precision": 10
					},
					{
						"name": "profesion",
						"type": "varchar"
					},
					{
						"name": "nivel_estudios",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "dim_persona"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_dim_tiempo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "tiempo_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fecha",
						"type": "date"
					},
					{
						"name": "anio",
						"type": "int",
						"precision": 10
					},
					{
						"name": "mes",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre_mes",
						"type": "varchar"
					},
					{
						"name": "trimestre",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dia",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dia_semana",
						"type": "varchar"
					},
					{
						"name": "es_fin_de_semana",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "dim_tiempo"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_hechos_control_pediatrico')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "control_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "persona_id_nino",
						"type": "int",
						"precision": 10
					},
					{
						"name": "persona_id_madre",
						"type": "int",
						"precision": 10
					},
					{
						"name": "establecimiento_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "tiempo_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nro_control",
						"type": "int",
						"precision": 10
					},
					{
						"name": "peso_nino_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "talla_nino_cm",
						"type": "float",
						"precision": 15
					},
					{
						"name": "vacuna_aplicada",
						"type": "varchar"
					},
					{
						"name": "resultado",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "hechos_control_pediatrico"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_hechos_control_prenatal')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "control_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "persona_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "establecimiento_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "tiempo_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sistema",
						"type": "varchar"
					},
					{
						"name": "nro_control",
						"type": "int",
						"precision": 10
					},
					{
						"name": "semana_gestacion",
						"type": "float",
						"precision": 15
					},
					{
						"name": "peso_madre_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "presion_sistolica",
						"type": "int",
						"precision": 10
					},
					{
						"name": "presion_diastolica",
						"type": "int",
						"precision": 10
					},
					{
						"name": "resultado",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "hechos_control_prenatal"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_hechos_entrega')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "entrega_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "persona_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "establecimiento_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "paquete_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "tiempo_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "peso_paquete_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "lote_produccion",
						"type": "varchar"
					},
					{
						"name": "fecha_proxima_entrega",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "hechos_entrega"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_hechos_inscripcion')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "inscripcion_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "persona_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "establecimiento_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "tiempo_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sistema",
						"type": "varchar"
					},
					{
						"name": "semana_gestacion",
						"type": "int",
						"precision": 10
					},
					{
						"name": "estado",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "hechos_inscripcion"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_hechos_pago')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "pago_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "persona_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "tiempo_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "concepto_pago",
						"type": "varchar"
					},
					{
						"name": "monto_bs",
						"type": "float",
						"precision": 15
					},
					{
						"name": "estado_pago",
						"type": "varchar"
					},
					{
						"name": "canal_pago",
						"type": "varchar"
					},
					{
						"name": "nro_comprobante",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "hechos_pago"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_hechos_parto')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "parto_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "persona_id_madre",
						"type": "int",
						"precision": 10
					},
					{
						"name": "persona_id_nino",
						"type": "int",
						"precision": 10
					},
					{
						"name": "establecimiento_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "tiempo_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "tipo_parto",
						"type": "varchar"
					},
					{
						"name": "peso_nacimiento_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "talla_nacimiento_cm",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "hechos_parto"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/silver_bja_controles_pediatricos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "control_pediatrico_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ci_nino",
						"type": "varchar"
					},
					{
						"name": "ci_madre",
						"type": "varchar"
					},
					{
						"name": "establecimiento_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nro_control",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fecha_control",
						"type": "date"
					},
					{
						"name": "peso_nino_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "talla_nino_cm",
						"type": "float",
						"precision": 15
					},
					{
						"name": "vacuna_aplicada",
						"type": "varchar"
					},
					{
						"name": "resultado",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "bja_controles_pediatricos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/silver_bja_controles_prenatales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "control_prenatal_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ci_beneficiaria",
						"type": "varchar"
					},
					{
						"name": "establecimiento_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nro_control",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fecha_control",
						"type": "date"
					},
					{
						"name": "semana_gestacion",
						"type": "float",
						"precision": 15
					},
					{
						"name": "peso_madre_kg",
						"type": "decimal",
						"precision": 5,
						"scale": 1
					},
					{
						"name": "presion_sistolica",
						"type": "int",
						"precision": 10
					},
					{
						"name": "presion_diastolica",
						"type": "int",
						"precision": 10
					},
					{
						"name": "resultado",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "bja_controles_prenatales"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/silver_bja_establecimientos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "establecimiento_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sistema",
						"type": "varchar"
					},
					{
						"name": "codigo_snis",
						"type": "varchar"
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "tipo",
						"type": "varchar"
					},
					{
						"name": "nivel_atencion",
						"type": "varchar"
					},
					{
						"name": "municipio",
						"type": "varchar"
					},
					{
						"name": "departamento",
						"type": "varchar"
					},
					{
						"name": "red_salud",
						"type": "varchar"
					},
					{
						"name": "estado",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "bja_establecimientos_salud"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/silver_bja_inscripciones')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "inscripcion_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ci_beneficiaria",
						"type": "varchar"
					},
					{
						"name": "establecimiento_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fecha_inscripcion",
						"type": "date"
					},
					{
						"name": "semana_gestacion",
						"type": "int",
						"precision": 10
					},
					{
						"name": "estado",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "bja_inscripciones"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/silver_bja_pagos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "pago_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ci_beneficiaria",
						"type": "varchar"
					},
					{
						"name": "concepto_pago",
						"type": "varchar"
					},
					{
						"name": "monto_bs",
						"type": "float",
						"precision": 15
					},
					{
						"name": "fecha_pago",
						"type": "date"
					},
					{
						"name": "estado_pago",
						"type": "varchar"
					},
					{
						"name": "canal_pago",
						"type": "varchar"
					},
					{
						"name": "nro_comprobante",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "bja_pagos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/silver_bja_partos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "parto_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ci_madre",
						"type": "varchar"
					},
					{
						"name": "ci_recien_nacido",
						"type": "varchar"
					},
					{
						"name": "establecimiento_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fecha_parto",
						"type": "date"
					},
					{
						"name": "tipo_parto",
						"type": "varchar"
					},
					{
						"name": "peso_nacimiento_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "talla_nacimiento_cm",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "bja_partos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/silver_segip')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ci",
						"type": "varchar"
					},
					{
						"name": "nombres",
						"type": "varchar"
					},
					{
						"name": "apellido_paterno",
						"type": "varchar"
					},
					{
						"name": "apellido_materno",
						"type": "varchar"
					},
					{
						"name": "fecha_nacimiento",
						"type": "date"
					},
					{
						"name": "genero",
						"type": "varchar"
					},
					{
						"name": "estado_civil",
						"type": "varchar"
					},
					{
						"name": "numero_hijos",
						"type": "int",
						"precision": 10
					},
					{
						"name": "profesion",
						"type": "varchar"
					},
					{
						"name": "nivel_estudios",
						"type": "varchar"
					},
					{
						"name": "municipio_residencia",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "segip"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/silver_sup_boletas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "boleta_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "control_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ci_beneficiaria",
						"type": "varchar"
					},
					{
						"name": "nro_boleta",
						"type": "varchar"
					},
					{
						"name": "fecha_emision",
						"type": "date"
					},
					{
						"name": "estado",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "sup_boletas"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/silver_sup_catalogopaquetes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "paquete_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "contenido",
						"type": "varchar"
					},
					{
						"name": "peso_estandar_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "costo_estimado_bs",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "sup_catalogopaquetes"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/silver_sup_controles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "control_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ci_beneficiaria",
						"type": "varchar"
					},
					{
						"name": "establecimiento_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nro_control",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fecha_control",
						"type": "date"
					},
					{
						"name": "semana_gestacion",
						"type": "float",
						"precision": 15
					},
					{
						"name": "peso_madre_kg",
						"type": "decimal",
						"precision": 5,
						"scale": 1
					},
					{
						"name": "presion_sistolica",
						"type": "int",
						"precision": 10
					},
					{
						"name": "presion_diastolica",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "sup_controles"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/silver_sup_entregas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "entrega_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "boleta_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ci_beneficiaria",
						"type": "varchar"
					},
					{
						"name": "establecimiento_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "paquete_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "paquete_nombre",
						"type": "varchar"
					},
					{
						"name": "fecha_entrega",
						"type": "date"
					},
					{
						"name": "lote_produccion",
						"type": "varchar"
					},
					{
						"name": "peso_paquete_kg",
						"type": "float",
						"precision": 15
					},
					{
						"name": "fecha_proxima_entrega",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "sup_entregas"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/silver_sup_establecimientos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "establecimiento_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sistema",
						"type": "varchar"
					},
					{
						"name": "codigo_snis",
						"type": "varchar"
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "tipo",
						"type": "varchar"
					},
					{
						"name": "nivel_atencion",
						"type": "varchar"
					},
					{
						"name": "municipio",
						"type": "varchar"
					},
					{
						"name": "departamento",
						"type": "varchar"
					},
					{
						"name": "red_salud",
						"type": "varchar"
					},
					{
						"name": "estado",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "sup_establecimientos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/silver_sup_inscripciones')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "inscripcion_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ci_beneficiaria",
						"type": "varchar"
					},
					{
						"name": "establecimiento_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fecha_inscripcion",
						"type": "date"
					},
					{
						"name": "semana_gestacion",
						"type": "int",
						"precision": 10
					},
					{
						"name": "estado",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "sup_inscripciones"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_bja_controles_pediatricos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "src"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "bja_controles_pediatricos.csv",
						"folderPath": "bja",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "control_pediatrico_id",
						"type": "String"
					},
					{
						"name": "ci_nino",
						"type": "String"
					},
					{
						"name": "ci_madre",
						"type": "String"
					},
					{
						"name": "establecimiento_id",
						"type": "String"
					},
					{
						"name": "nro_control",
						"type": "String"
					},
					{
						"name": "fecha_control",
						"type": "String"
					},
					{
						"name": "peso_nino_kg",
						"type": "String"
					},
					{
						"name": "talla_nino_cm",
						"type": "String"
					},
					{
						"name": "vacuna_aplicada",
						"type": "String"
					},
					{
						"name": "resultado",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_bja_controles_prenatales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "src"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "bja_controles_prenatales.csv",
						"folderPath": "bja",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "control_prenatal_id",
						"type": "String"
					},
					{
						"name": "ci_beneficiaria",
						"type": "String"
					},
					{
						"name": "establecimiento_id",
						"type": "String"
					},
					{
						"name": "nro_control",
						"type": "String"
					},
					{
						"name": "fecha_control",
						"type": "String"
					},
					{
						"name": "semana_gestacion",
						"type": "String"
					},
					{
						"name": "peso_madre_kg",
						"type": "String"
					},
					{
						"name": "presion_arterial",
						"type": "String"
					},
					{
						"name": "resultado",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_bja_establecimientos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "src"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "bja_establecimientos_salud.csv",
						"folderPath": "bja",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "inscripcion_id",
						"type": "String"
					},
					{
						"name": "ci_beneficiaria",
						"type": "String"
					},
					{
						"name": "establecimiento_id",
						"type": "String"
					},
					{
						"name": "fecha_inscripcion",
						"type": "String"
					},
					{
						"name": "semana_gestacion",
						"type": "String"
					},
					{
						"name": "estado",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_bja_inscripciones')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "src"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "bja_inscripciones.csv",
						"folderPath": "bja",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "inscripcion_id",
						"type": "String"
					},
					{
						"name": "ci_beneficiaria",
						"type": "String"
					},
					{
						"name": "establecimiento_id",
						"type": "String"
					},
					{
						"name": "fecha_inscripcion",
						"type": "String"
					},
					{
						"name": "semana_gestacion",
						"type": "String"
					},
					{
						"name": "estado",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_bja_pagos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "src"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "bja_pagos.csv",
						"folderPath": "bja",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "pago_id",
						"type": "String"
					},
					{
						"name": "ci_beneficiaria",
						"type": "String"
					},
					{
						"name": "concepto_pago",
						"type": "String"
					},
					{
						"name": "monto_bs",
						"type": "String"
					},
					{
						"name": "fecha_pago",
						"type": "String"
					},
					{
						"name": "estado_pago",
						"type": "String"
					},
					{
						"name": "canal_pago",
						"type": "String"
					},
					{
						"name": "nro_comprobante",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_bja_partos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "src"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "bja_partos.csv",
						"folderPath": "bja",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "parto_id",
						"type": "String"
					},
					{
						"name": "ci_madre",
						"type": "String"
					},
					{
						"name": "ci_recien_nacido",
						"type": "String"
					},
					{
						"name": "establecimiento_id",
						"type": "String"
					},
					{
						"name": "fecha_parto",
						"type": "String"
					},
					{
						"name": "tipo_parto",
						"type": "String"
					},
					{
						"name": "peso_nacimiento_kg",
						"type": "String"
					},
					{
						"name": "talla_nacimiento_cm",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_segip')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "src"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "segip_personas.csv",
						"folderPath": "segip",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ci",
						"type": "String"
					},
					{
						"name": "nombres",
						"type": "String"
					},
					{
						"name": "apellido_paterno",
						"type": "String"
					},
					{
						"name": "apellido_materno",
						"type": "String"
					},
					{
						"name": "fecha_nacimiento",
						"type": "String"
					},
					{
						"name": "genero",
						"type": "String"
					},
					{
						"name": "estado_civil",
						"type": "String"
					},
					{
						"name": "ci_conyuge",
						"type": "String"
					},
					{
						"name": "numero_hijos",
						"type": "String"
					},
					{
						"name": "ci_padre",
						"type": "String"
					},
					{
						"name": "ci_madre",
						"type": "String"
					},
					{
						"name": "profesion",
						"type": "String"
					},
					{
						"name": "nivel_estudios",
						"type": "String"
					},
					{
						"name": "municipio_residencia",
						"type": "String"
					},
					{
						"name": "fecha_emision",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_sup_boletas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "src"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "sup_boletas.csv",
						"folderPath": "sup",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "boleta_id",
						"type": "String"
					},
					{
						"name": "control_id",
						"type": "String"
					},
					{
						"name": "ci_beneficiaria",
						"type": "String"
					},
					{
						"name": "nro_boleta",
						"type": "String"
					},
					{
						"name": "fecha_emision",
						"type": "String"
					},
					{
						"name": "estado",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_sup_catalogopaquetes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "src"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "sup_catalogo-paquetes.csv",
						"folderPath": "sup",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "paquete_id",
						"type": "String"
					},
					{
						"name": "nombre",
						"type": "String"
					},
					{
						"name": "contenido",
						"type": "String"
					},
					{
						"name": "peso_estandar_kg",
						"type": "String"
					},
					{
						"name": "costo_estimado_bs",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_sup_controles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "src"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "sup_controles.csv",
						"folderPath": "sup",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "control_id",
						"type": "String"
					},
					{
						"name": "ci_beneficiaria",
						"type": "String"
					},
					{
						"name": "establecimiento_id",
						"type": "String"
					},
					{
						"name": "nro_control",
						"type": "String"
					},
					{
						"name": "fecha_control",
						"type": "String"
					},
					{
						"name": "semana_gestacion",
						"type": "String"
					},
					{
						"name": "peso_madre_kg",
						"type": "String"
					},
					{
						"name": "presion_arterial",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_sup_entregas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "src"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "sup_entregas.csv",
						"folderPath": "sup",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "entrega_id",
						"type": "String"
					},
					{
						"name": "boleta_id",
						"type": "String"
					},
					{
						"name": "ci_beneficiaria",
						"type": "String"
					},
					{
						"name": "establecimiento_id",
						"type": "String"
					},
					{
						"name": "paquete_id",
						"type": "String"
					},
					{
						"name": "paquete_nombre",
						"type": "String"
					},
					{
						"name": "fecha_entrega",
						"type": "String"
					},
					{
						"name": "lote_produccion",
						"type": "String"
					},
					{
						"name": "peso_paquete_kg",
						"type": "String"
					},
					{
						"name": "fecha_proxima_entrega",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_sup_establecimientos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "src"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "sup_establecimientos.csv",
						"folderPath": "sup",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "establecimiento_id",
						"type": "String"
					},
					{
						"name": "codigo_snis",
						"type": "String"
					},
					{
						"name": "nombre",
						"type": "String"
					},
					{
						"name": "tipo",
						"type": "String"
					},
					{
						"name": "nivel_atencion",
						"type": "String"
					},
					{
						"name": "municipio",
						"type": "String"
					},
					{
						"name": "departamento",
						"type": "String"
					},
					{
						"name": "red_salud",
						"type": "String"
					},
					{
						"name": "estado",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_sup_inscripciones')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "src"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "sup_inscripciones.csv",
						"folderPath": "sup",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "inscripcion_id",
						"type": "String"
					},
					{
						"name": "ci_beneficiaria",
						"type": "String"
					},
					{
						"name": "establecimiento_id",
						"type": "String"
					},
					{
						"name": "fecha_inscripcion",
						"type": "String"
					},
					{
						"name": "semana_gestacion",
						"type": "String"
					},
					{
						"name": "estado",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/datalake_subsidio')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('datalake_subsidio_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dw_subsidio')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('dw_subsidio_properties_typeProperties_server')]",
					"database": "[parameters('dw_subsidio_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('dw_subsidio_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('dw_subsidio_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Gold_Dim_Paquete')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "silver_sup_catalogopaquetes",
								"type": "DatasetReference"
							},
							"name": "srcsupcatalogopaquetes"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_gold_dim_paquete",
								"type": "DatasetReference"
							},
							"name": "goldimpaquete"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          paquete_id as integer,",
						"          nombre as string,",
						"          contenido as string,",
						"          peso_estandar_kg as decimal(5,2),",
						"          costo_estimado_bs as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> srcsupcatalogopaquetes",
						"srcsupcatalogopaquetes sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          paquete_id as integer,",
						"          nombre as string,",
						"          contenido as string,",
						"          peso_estandar_kg as double,",
						"          costo_estimado_bs as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          nombre,",
						"          contenido,",
						"          peso_estandar_kg,",
						"          costo_estimado_bs",
						"     )) ~> goldimpaquete"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/silver_sup_catalogopaquetes')]",
				"[concat(variables('factoryId'), '/datasets/ds_gold_dim_paquete')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_bronze_carga_completa')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bronze"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "src_segip",
								"type": "DatasetReference"
							},
							"name": "srcsegip"
						},
						{
							"dataset": {
								"referenceName": "src_bja_inscripciones",
								"type": "DatasetReference"
							},
							"name": "srcbjaInscripciones"
						},
						{
							"dataset": {
								"referenceName": "src_bja_establecimientos",
								"type": "DatasetReference"
							},
							"name": "srcBjaEstablecimientos"
						},
						{
							"dataset": {
								"referenceName": "src_bja_partos",
								"type": "DatasetReference"
							},
							"name": "srcBjaPartos"
						},
						{
							"dataset": {
								"referenceName": "src_bja_controles_prenatales",
								"type": "DatasetReference"
							},
							"name": "srcBjaControlesPrenatales"
						},
						{
							"dataset": {
								"referenceName": "src_bja_controles_pediatricos",
								"type": "DatasetReference"
							},
							"name": "srcBjaControlesPediatricos"
						},
						{
							"dataset": {
								"referenceName": "src_bja_pagos",
								"type": "DatasetReference"
							},
							"name": "srcBjaPagos"
						},
						{
							"dataset": {
								"referenceName": "src_sup_inscripciones",
								"type": "DatasetReference"
							},
							"name": "srcSupInscripciones"
						},
						{
							"dataset": {
								"referenceName": "src_sup_establecimientos",
								"type": "DatasetReference"
							},
							"name": "srcSupEstablecimientos"
						},
						{
							"dataset": {
								"referenceName": "src_sup_boletas",
								"type": "DatasetReference"
							},
							"name": "srcSupBoletas"
						},
						{
							"dataset": {
								"referenceName": "src_sup_catalogopaquetes",
								"type": "DatasetReference"
							},
							"name": "srcSupCatalogoPaquetes"
						},
						{
							"dataset": {
								"referenceName": "src_sup_controles",
								"type": "DatasetReference"
							},
							"name": "srcSupControles"
						},
						{
							"dataset": {
								"referenceName": "src_sup_entregas",
								"type": "DatasetReference"
							},
							"name": "srcSupEntregas"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "bronze_segip",
								"type": "DatasetReference"
							},
							"name": "bronzeSegip"
						},
						{
							"dataset": {
								"referenceName": "bronze_bja_inscripciones",
								"type": "DatasetReference"
							},
							"name": "bjaIinscripciones"
						},
						{
							"dataset": {
								"referenceName": "bronze_bja_establecimientos",
								"type": "DatasetReference"
							},
							"name": "sinkBjaEstablecimientos"
						},
						{
							"dataset": {
								"referenceName": "bronze_bja_partos",
								"type": "DatasetReference"
							},
							"name": "sinkBjaPartos"
						},
						{
							"dataset": {
								"referenceName": "bronze_bja_controles_prenatales",
								"type": "DatasetReference"
							},
							"name": "sinkBjaControlesPrenatales"
						},
						{
							"dataset": {
								"referenceName": "bronze_bja_controles_pediatricos",
								"type": "DatasetReference"
							},
							"name": "sinkBjaControlesPediatricos"
						},
						{
							"dataset": {
								"referenceName": "bronze_bja_pagos",
								"type": "DatasetReference"
							},
							"name": "sinkBjaPagos"
						},
						{
							"dataset": {
								"referenceName": "bronze_sup_inscripciones",
								"type": "DatasetReference"
							},
							"name": "sinkSupInscripciones"
						},
						{
							"dataset": {
								"referenceName": "bronze_sup_establecimientos",
								"type": "DatasetReference"
							},
							"name": "sinkSupEstablecimientos"
						},
						{
							"dataset": {
								"referenceName": "bronze_sup_boletas",
								"type": "DatasetReference"
							},
							"name": "sinkSupBoletas"
						},
						{
							"dataset": {
								"referenceName": "bronze_sup_catalogopaquetes",
								"type": "DatasetReference"
							},
							"name": "sinkSupCatalogoPaquetes"
						},
						{
							"dataset": {
								"referenceName": "bronze_sup_controles",
								"type": "DatasetReference"
							},
							"name": "sinkSupControles"
						},
						{
							"dataset": {
								"referenceName": "bronze_sup_entregas",
								"type": "DatasetReference"
							},
							"name": "sinkSupEntregas"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          ci as string,",
						"          nombres as string,",
						"          apellido_paterno as string,",
						"          apellido_materno as string,",
						"          fecha_nacimiento as string,",
						"          genero as string,",
						"          estado_civil as string,",
						"          ci_conyuge as string,",
						"          numero_hijos as string,",
						"          ci_padre as string,",
						"          ci_madre as string,",
						"          profesion as string,",
						"          nivel_estudios as string,",
						"          municipio_residencia as string,",
						"          fecha_emision as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> srcsegip",
						"source(output(",
						"          inscripcion_id as string,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          fecha_inscripcion as string,",
						"          semana_gestacion as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> srcbjaInscripciones",
						"source(output(",
						"          inscripcion_id as string,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          fecha_inscripcion as string,",
						"          semana_gestacion as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> srcBjaEstablecimientos",
						"source(output(",
						"          parto_id as string,",
						"          ci_madre as string,",
						"          ci_recien_nacido as string,",
						"          establecimiento_id as string,",
						"          fecha_parto as string,",
						"          tipo_parto as string,",
						"          peso_nacimiento_kg as string,",
						"          talla_nacimiento_cm as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> srcBjaPartos",
						"source(output(",
						"          control_prenatal_id as string,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          nro_control as string,",
						"          fecha_control as string,",
						"          semana_gestacion as string,",
						"          peso_madre_kg as string,",
						"          presion_arterial as string,",
						"          resultado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> srcBjaControlesPrenatales",
						"source(output(",
						"          control_pediatrico_id as string,",
						"          ci_nino as string,",
						"          ci_madre as string,",
						"          establecimiento_id as string,",
						"          nro_control as string,",
						"          fecha_control as string,",
						"          peso_nino_kg as string,",
						"          talla_nino_cm as string,",
						"          vacuna_aplicada as string,",
						"          resultado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> srcBjaControlesPediatricos",
						"source(output(",
						"          pago_id as string,",
						"          ci_beneficiaria as string,",
						"          concepto_pago as string,",
						"          monto_bs as string,",
						"          fecha_pago as string,",
						"          estado_pago as string,",
						"          canal_pago as string,",
						"          nro_comprobante as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> srcBjaPagos",
						"source(output(",
						"          inscripcion_id as string,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          fecha_inscripcion as string,",
						"          semana_gestacion as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> srcSupInscripciones",
						"source(output(",
						"          establecimiento_id as string,",
						"          codigo_snis as string,",
						"          nombre as string,",
						"          tipo as string,",
						"          nivel_atencion as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          red_salud as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> srcSupEstablecimientos",
						"source(output(",
						"          boleta_id as string,",
						"          control_id as string,",
						"          ci_beneficiaria as string,",
						"          nro_boleta as string,",
						"          fecha_emision as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> srcSupBoletas",
						"source(output(",
						"          paquete_id as string,",
						"          nombre as string,",
						"          contenido as string,",
						"          peso_estandar_kg as string,",
						"          costo_estimado_bs as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> srcSupCatalogoPaquetes",
						"source(output(",
						"          control_id as string,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          nro_control as string,",
						"          fecha_control as string,",
						"          semana_gestacion as string,",
						"          peso_madre_kg as string,",
						"          presion_arterial as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> srcSupControles",
						"source(output(",
						"          entrega_id as string,",
						"          boleta_id as string,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          paquete_id as string,",
						"          paquete_nombre as string,",
						"          fecha_entrega as string,",
						"          lote_produccion as string,",
						"          peso_paquete_kg as string,",
						"          fecha_proxima_entrega as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> srcSupEntregas",
						"srcsegip sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ci as string,",
						"          nombres as string,",
						"          apellido_paterno as string,",
						"          apellido_materno as string,",
						"          fecha_nacimiento as string,",
						"          genero as string,",
						"          estado_civil as string,",
						"          ci_conyuge as string,",
						"          numero_hijos as integer,",
						"          ci_padre as string,",
						"          ci_madre as string,",
						"          profesion as string,",
						"          nivel_estudios as string,",
						"          municipio_residencia as string,",
						"          fecha_emision as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          ci,",
						"          nombres,",
						"          apellido_paterno,",
						"          apellido_materno,",
						"          fecha_nacimiento,",
						"          genero,",
						"          estado_civil,",
						"          ci_conyuge,",
						"          numero_hijos,",
						"          ci_padre,",
						"          ci_madre,",
						"          profesion,",
						"          nivel_estudios,",
						"          municipio_residencia,",
						"          fecha_emision",
						"     )) ~> bronzeSegip",
						"srcbjaInscripciones sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          inscripcion_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as integer,",
						"          fecha_inscripcion as string,",
						"          semana_gestacion as integer,",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          inscripcion_id,",
						"          ci_beneficiaria,",
						"          establecimiento_id,",
						"          fecha_inscripcion,",
						"          semana_gestacion,",
						"          estado",
						"     )) ~> bjaIinscripciones",
						"srcBjaEstablecimientos sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          establecimiento_id as integer,",
						"          codigo_snis as string,",
						"          nombre as string,",
						"          tipo as string,",
						"          nivel_atencion as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          red_salud as string,",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sinkBjaEstablecimientos",
						"srcBjaPartos sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          parto_id as integer,",
						"          ci_madre as string,",
						"          ci_recien_nacido as string,",
						"          establecimiento_id as integer,",
						"          fecha_parto as string,",
						"          tipo_parto as string,",
						"          peso_nacimiento_kg as double,",
						"          talla_nacimiento_cm as double",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sinkBjaPartos",
						"srcBjaControlesPrenatales sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          control_prenatal_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as integer,",
						"          nro_control as integer,",
						"          fecha_control as string,",
						"          semana_gestacion as double,",
						"          peso_madre_kg as double,",
						"          presion_arterial as string,",
						"          resultado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sinkBjaControlesPrenatales",
						"srcBjaControlesPediatricos sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          control_pediatrico_id as integer,",
						"          ci_nino as string,",
						"          ci_madre as string,",
						"          establecimiento_id as integer,",
						"          nro_control as integer,",
						"          fecha_control as string,",
						"          peso_nino_kg as double,",
						"          talla_nino_cm as double,",
						"          vacuna_aplicada as string,",
						"          resultado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          control_pediatrico_id,",
						"          ci_nino,",
						"          ci_madre,",
						"          establecimiento_id,",
						"          nro_control,",
						"          fecha_control,",
						"          peso_nino_kg,",
						"          talla_nino_cm,",
						"          vacuna_aplicada,",
						"          resultado",
						"     )) ~> sinkBjaControlesPediatricos",
						"srcBjaPagos sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          pago_id as integer,",
						"          ci_beneficiaria as string,",
						"          concepto_pago as string,",
						"          monto_bs as double,",
						"          fecha_pago as string,",
						"          estado_pago as string,",
						"          canal_pago as string,",
						"          nro_comprobante as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          pago_id,",
						"          ci_beneficiaria,",
						"          concepto_pago,",
						"          monto_bs,",
						"          fecha_pago,",
						"          estado_pago,",
						"          canal_pago,",
						"          nro_comprobante",
						"     )) ~> sinkBjaPagos",
						"srcSupInscripciones sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          inscripcion_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as integer,",
						"          fecha_inscripcion as string,",
						"          semana_gestacion as integer,",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          inscripcion_id,",
						"          ci_beneficiaria,",
						"          establecimiento_id,",
						"          fecha_inscripcion,",
						"          semana_gestacion,",
						"          estado",
						"     )) ~> sinkSupInscripciones",
						"srcSupEstablecimientos sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          establecimiento_id as integer,",
						"          codigo_snis as string,",
						"          nombre as string,",
						"          tipo as string,",
						"          nivel_atencion as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          red_salud as string,",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          establecimiento_id,",
						"          codigo_snis,",
						"          nombre,",
						"          tipo,",
						"          nivel_atencion,",
						"          municipio,",
						"          departamento,",
						"          red_salud,",
						"          estado",
						"     )) ~> sinkSupEstablecimientos",
						"srcSupBoletas sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          boleta_id as integer,",
						"          control_id as integer,",
						"          ci_beneficiaria as string,",
						"          nro_boleta as string,",
						"          fecha_emision as string,",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          boleta_id,",
						"          control_id,",
						"          ci_beneficiaria,",
						"          nro_boleta,",
						"          fecha_emision,",
						"          estado",
						"     )) ~> sinkSupBoletas",
						"srcSupCatalogoPaquetes sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          paquete_id as integer,",
						"          nombre as string,",
						"          contenido as string,",
						"          peso_estandar_kg as double,",
						"          costo_estimado_bs as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          paquete_id,",
						"          nombre,",
						"          contenido,",
						"          peso_estandar_kg,",
						"          costo_estimado_bs",
						"     )) ~> sinkSupCatalogoPaquetes",
						"srcSupControles sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          control_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as integer,",
						"          nro_control as integer,",
						"          fecha_control as string,",
						"          semana_gestacion as double,",
						"          peso_madre_kg as double,",
						"          presion_arterial as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          control_id,",
						"          ci_beneficiaria,",
						"          establecimiento_id,",
						"          nro_control,",
						"          fecha_control,",
						"          semana_gestacion,",
						"          peso_madre_kg,",
						"          presion_arterial",
						"     )) ~> sinkSupControles",
						"srcSupEntregas sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          entrega_id as integer,",
						"          boleta_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as integer,",
						"          paquete_id as integer,",
						"          paquete_nombre as string,",
						"          fecha_entrega as string,",
						"          lote_produccion as string,",
						"          peso_paquete_kg as double,",
						"          fecha_proxima_entrega as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          entrega_id,",
						"          boleta_id,",
						"          ci_beneficiaria,",
						"          establecimiento_id,",
						"          paquete_id,",
						"          paquete_nombre,",
						"          fecha_entrega,",
						"          lote_produccion,",
						"          peso_paquete_kg,",
						"          fecha_proxima_entrega",
						"     )) ~> sinkSupEntregas"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/src_segip')]",
				"[concat(variables('factoryId'), '/datasets/src_bja_inscripciones')]",
				"[concat(variables('factoryId'), '/datasets/src_bja_establecimientos')]",
				"[concat(variables('factoryId'), '/datasets/src_bja_partos')]",
				"[concat(variables('factoryId'), '/datasets/src_bja_controles_prenatales')]",
				"[concat(variables('factoryId'), '/datasets/src_bja_controles_pediatricos')]",
				"[concat(variables('factoryId'), '/datasets/src_bja_pagos')]",
				"[concat(variables('factoryId'), '/datasets/src_sup_inscripciones')]",
				"[concat(variables('factoryId'), '/datasets/src_sup_establecimientos')]",
				"[concat(variables('factoryId'), '/datasets/src_sup_boletas')]",
				"[concat(variables('factoryId'), '/datasets/src_sup_catalogopaquetes')]",
				"[concat(variables('factoryId'), '/datasets/src_sup_controles')]",
				"[concat(variables('factoryId'), '/datasets/src_sup_entregas')]",
				"[concat(variables('factoryId'), '/datasets/bronze_segip')]",
				"[concat(variables('factoryId'), '/datasets/bronze_bja_inscripciones')]",
				"[concat(variables('factoryId'), '/datasets/bronze_bja_establecimientos')]",
				"[concat(variables('factoryId'), '/datasets/bronze_bja_partos')]",
				"[concat(variables('factoryId'), '/datasets/bronze_bja_controles_prenatales')]",
				"[concat(variables('factoryId'), '/datasets/bronze_bja_controles_pediatricos')]",
				"[concat(variables('factoryId'), '/datasets/bronze_bja_pagos')]",
				"[concat(variables('factoryId'), '/datasets/bronze_sup_inscripciones')]",
				"[concat(variables('factoryId'), '/datasets/bronze_sup_establecimientos')]",
				"[concat(variables('factoryId'), '/datasets/bronze_sup_boletas')]",
				"[concat(variables('factoryId'), '/datasets/bronze_sup_catalogopaquetes')]",
				"[concat(variables('factoryId'), '/datasets/bronze_sup_controles')]",
				"[concat(variables('factoryId'), '/datasets/bronze_sup_entregas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_bronze_segip')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bronze"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "src_segip",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "bronze_segip",
								"type": "DatasetReference"
							},
							"name": "bronzesegip"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          ci as string,",
						"          nombres as string,",
						"          apellido_paterno as string,",
						"          apellido_materno as string,",
						"          fecha_nacimiento as string,",
						"          genero as string,",
						"          estado_civil as string,",
						"          ci_conyuge as string,",
						"          numero_hijos as string,",
						"          ci_padre as string,",
						"          ci_madre as string,",
						"          profesion as string,",
						"          nivel_estudios as string,",
						"          municipio_residencia as string,",
						"          fecha_emision as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ci as string,",
						"          nombres as string,",
						"          apellido_paterno as string,",
						"          apellido_materno as string,",
						"          fecha_nacimiento as string,",
						"          genero as string,",
						"          estado_civil as string,",
						"          ci_conyuge as string,",
						"          numero_hijos as integer,",
						"          ci_padre as string,",
						"          ci_madre as string,",
						"          profesion as string,",
						"          nivel_estudios as string,",
						"          municipio_residencia as string,",
						"          fecha_emision as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> bronzesegip"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/src_segip')]",
				"[concat(variables('factoryId'), '/datasets/bronze_segip')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_gold_dim_establecimiento')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "silver_bja_establecimientos",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_gold_dim_establecimiento",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          sistema as string,",
						"          codigo_snis as string,",
						"          nombre as string,",
						"          tipo as string,",
						"          nivel_atencion as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          red_salud as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT sistema,codigo_snis,nombre,tipo,\\n    nivel_atencion,\\n    municipio,\\n    departamento,\\n    red_salud\\nFROM silver.bja_establecimientos_salud\\nUNION ALL\\nSELECT sistema,codigo_snis,nombre,tipo,\\n    nivel_atencion,\\n    municipio,\\n    departamento,\\n    red_salud\\nFROM silver.sup_establecimientos',",
						"     format: 'query') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          establecimiento_id as integer,",
						"          sistema as string,",
						"          codigo_snis as string,",
						"          nombre as string,",
						"          tipo as string,",
						"          nivel_atencion as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          red_salud as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          sistema,",
						"          codigo_snis,",
						"          nombre,",
						"          tipo,",
						"          nivel_atencion,",
						"          municipio,",
						"          departamento,",
						"          red_salud",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/silver_bja_establecimientos')]",
				"[concat(variables('factoryId'), '/datasets/ds_gold_dim_establecimiento')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_gold_dim_persona')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "silver_segip",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_gold_dim_persona",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          ci as string,",
						"          nombres as string,",
						"          ap_paterno as string,",
						"          ap_materno as string,",
						"          fecha_nac as date,",
						"          edad as integer,",
						"          genero as string,",
						"          estado_civil as string,",
						"          municipio as string,",
						"          numero_hijos as integer,",
						"          profesion as string,",
						"          nivel_estudios as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT\\n    p.ci,\\n    s.nombres,\\n    s.apellido_paterno AS ap_paterno,\\n    s.apellido_materno AS ap_materno,\\n    s.fecha_nacimiento AS fecha_nac,\\n    CASE WHEN s.fecha_nacimiento IS NOT NULL \\n         THEN DATEDIFF(YEAR, s.fecha_nacimiento, GETDATE()) \\n         ELSE NULL END AS edad,s.genero, s.estado_civil, s.municipio_residencia AS municipio,   s.numero_hijos,   s.profesion,s.nivel_estudios\\nFROM (\\n    SELECT ci FROM silver.segip WHERE ci IS NOT NULL\\n    UNION\\n    SELECT ci_beneficiaria FROM silver.bja_inscripciones WHERE ci_beneficiaria IS NOT NULL\\n    UNION\\n    SELECT ci_madre FROM silver.bja_partos WHERE ci_madre IS NOT NULL\\n    UNION\\n    SELECT ci_recien_nacido FROM silver.bja_partos WHERE ci_recien_nacido IS NOT NULL\\n    UNION\\n    SELECT ci_beneficiaria FROM silver.bja_controles_prenatales WHERE ci_beneficiaria IS NOT NULL\\n    UNION\\n    SELECT ci_nino FROM silver.bja_controles_pediatricos WHERE ci_nino IS NOT NULL\\n    UNION\\n    SELECT ci_madre FROM silver.bja_controles_pediatricos WHERE ci_madre IS NOT NULL\\n    UNION\\n    SELECT ci_beneficiaria FROM silver.bja_pagos WHERE ci_beneficiaria IS NOT NULL\\n    UNION\\n    SELECT ci_beneficiaria FROM silver.sup_inscripciones WHERE ci_beneficiaria IS NOT NULL\\n    UNION\\n    SELECT ci_beneficiaria FROM silver.sup_controles WHERE ci_beneficiaria IS NOT NULL\\n    UNION\\n    SELECT ci_beneficiaria FROM silver.sup_boletas WHERE ci_beneficiaria IS NOT NULL\\n    UNION\\n    SELECT ci_beneficiaria FROM silver.sup_entregas WHERE ci_beneficiaria IS NOT NULL\\n) p\\nLEFT JOIN silver.segip s ON p.ci = s.ci',",
						"     format: 'query') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          persona_id as integer,",
						"          ci as string,",
						"          nombres as string,",
						"          ap_paterno as string,",
						"          ap_materno as string,",
						"          fecha_nac as date,",
						"          edad as integer,",
						"          genero as string,",
						"          estado_civil as string,",
						"          municipio as string,",
						"          numero_hijos as integer,",
						"          profesion as string,",
						"          nivel_estudios as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          ci,",
						"          nombres,",
						"          ap_paterno,",
						"          ap_materno,",
						"          fecha_nac,",
						"          edad,",
						"          genero,",
						"          estado_civil,",
						"          municipio,",
						"          numero_hijos,",
						"          profesion,",
						"          nivel_estudios",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/silver_segip')]",
				"[concat(variables('factoryId'), '/datasets/ds_gold_dim_persona')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_gold_dim_tiempo')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "silver_bja_partos",
								"type": "DatasetReference"
							},
							"name": "srcTiempo"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_gold_dim_tiempo",
								"type": "DatasetReference"
							},
							"name": "sinkTiempo"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          fecha as date,",
						"          anio as integer,",
						"          mes as integer,",
						"          nombre_mes as string,",
						"          trimestre as integer,",
						"          dia as integer,",
						"          dia_semana as string,",
						"          es_fin_de_semana as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT\\n    f.fecha,\\n    YEAR(f.fecha) AS anio,\\n    MONTH(f.fecha) AS mes,\\n    DATENAME(MONTH, f.fecha) AS nombre_mes,\\n    DATEPART(QUARTER, f.fecha) AS trimestre,\\n    DAY(f.fecha) AS dia,\\n    DATENAME(WEEKDAY, f.fecha) AS dia_semana,\\n    CASE WHEN DATEPART(WEEKDAY, f.fecha) IN (1,7) THEN 1 ELSE 0 END AS es_fin_de_semana\\nFROM (\\n    SELECT DISTINCT fecha_parto AS fecha FROM silver.bja_partos WHERE fecha_parto IS NOT NULL\\n    UNION\\n    SELECT DISTINCT fecha_control FROM silver.bja_controles_prenatales WHERE fecha_control IS NOT NULL\\n    UNION\\n    SELECT DISTINCT fecha_control FROM silver.bja_controles_pediatricos WHERE fecha_control IS NOT NULL\\n    UNION\\n    SELECT DISTINCT fecha_pago FROM silver.bja_pagos WHERE fecha_pago IS NOT NULL\\n    UNION\\n    SELECT DISTINCT fecha_inscripcion FROM silver.bja_inscripciones WHERE fecha_inscripcion IS NOT NULL\\n    UNION\\n    SELECT DISTINCT fecha_inscripcion FROM silver.sup_inscripciones WHERE fecha_inscripcion IS NOT NULL\\n    UNION\\n    SELECT DISTINCT fecha_control FROM silver.sup_controles WHERE fecha_control IS NOT NULL\\n    UNION\\n    SELECT DISTINCT fecha_emision FROM silver.sup_boletas WHERE fecha_emision IS NOT NULL\\n    UNION\\n    SELECT DISTINCT fecha_entrega FROM silver.sup_entregas WHERE fecha_entrega IS NOT NULL\\n    UNION\\n    SELECT DISTINCT fecha_proxima_entrega FROM silver.sup_entregas WHERE fecha_proxima_entrega IS NOT NULL\\n) f',",
						"     format: 'query') ~> srcTiempo",
						"srcTiempo sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          tiempo_id as integer,",
						"          fecha as date,",
						"          anio as integer,",
						"          mes as integer,",
						"          nombre_mes as string,",
						"          trimestre as integer,",
						"          dia as integer,",
						"          dia_semana as string,",
						"          es_fin_de_semana as boolean",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          fecha,",
						"          anio,",
						"          mes,",
						"          nombre_mes,",
						"          trimestre,",
						"          dia,",
						"          dia_semana,",
						"          es_fin_de_semana",
						"     )) ~> sinkTiempo"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/silver_bja_partos')]",
				"[concat(variables('factoryId'), '/datasets/ds_gold_dim_tiempo')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_bja_controles_pediatricos')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bronze_bja_controles_pediatricos",
								"type": "DatasetReference"
							},
							"name": "srcBjaControlesPediatricos"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_bja_controles_pediatricos",
								"type": "DatasetReference"
							},
							"name": "sinkBJAcontrolesPediatricos"
						}
					],
					"transformations": [
						{
							"name": "limpieza"
						}
					],
					"scriptLines": [
						"source(output(",
						"          control_pediatrico_id as integer,",
						"          ci_nino as string,",
						"          ci_madre as string,",
						"          establecimiento_id as integer,",
						"          nro_control as integer,",
						"          fecha_control as string,",
						"          peso_nino_kg as double,",
						"          talla_nino_cm as double,",
						"          vacuna_aplicada as string,",
						"          resultado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT control_pediatrico_id, TRIM(ci_nino) AS ci_nino, TRIM(ci_madre) AS ci_madre, establecimiento_id, nro_control, TRIM(fecha_control) AS fecha_control, peso_nino_kg, talla_nino_cm, TRIM(vacuna_aplicada) AS vacuna_aplicada, TRIM(resultado) AS resultado\\nFROM bronze.bja_controles_pediatricos\\nWHERE control_pediatrico_id IS NOT NULL',",
						"     format: 'query') ~> srcBjaControlesPediatricos",
						"srcBjaControlesPediatricos derive(ci_nino = regexReplace(replace(replace(toString(ci_nino),'-',''),' ',''),'^([A-Z]{2})([0-9]+)$','$2$1'),",
						"          ci_madre = regexReplace(replace(replace(toString(ci_madre),'-',''),' ',''),'^([A-Z]{2})([0-9]+)$','$2$1'),",
						"          fecha_control = coalesce(toDate(toString(fecha_control),'yyyy-MM-dd'),toDate(toString(fecha_control),'dd-MM-yyyy'),toDate(toString(fecha_control),'dd/MM/yyyy'),toDate(toString(fecha_control),'MM/dd/yyyy')),",
						"          peso_nino_kg = case(toFloat(peso_nino_kg)>=2.0 && toFloat(peso_nino_kg)<=20.0, round(toFloat(peso_nino_kg),2)),",
						"          talla_nino_cm = case(toFloat(talla_nino_cm)>=40.0 && toFloat(talla_nino_cm)<=110.0, round(toFloat(talla_nino_cm),1)),",
						"          vacuna_aplicada = iif(instr(upper(toString(vacuna_aplicada)),'BCG')>0,'BCG',iif(instr(upper(toString(vacuna_aplicada)),'SRP')>0,'SRP 1ra dosis',iif(instr(upper(toString(vacuna_aplicada)),'ROTAV')>0,'Rotavirus 1ra dosis',iif(instr(upper(toString(vacuna_aplicada)),'ANTIPOLIO')>0 || instr(upper(toString(vacuna_aplicada)),'ANTIPOL')>0,iif(instr(toString(vacuna_aplicada),'2')>0,'Antipolio 2da dosis','Antipolio 1ra dosis'),iif(instr(upper(toString(vacuna_aplicada)),'PENTA')>0 || instr(upper(toString(vacuna_aplicada)),'PNETA')>0 || instr(upper(toString(vacuna_aplicada)),'PETNA')>0,iif(instr(toString(vacuna_aplicada),'3')>0,'Pentavalente 3ra dosis',iif(instr(toString(vacuna_aplicada),'2')>0,'Pentavalente 2da dosis','Pentavalente 1ra dosis')),toString(null())))))),",
						"          resultado = iif(instr(upper(toString(resultado)),'NOR')>0 || instr(upper(toString(resultado)),'NOM')>0 || instr(upper(toString(resultado)),'NRM')>0,'Normal',iif(instr(upper(toString(resultado)),'DESNUT')>0,'Desnutrición Leve',iif(instr(upper(toString(resultado)),'BAJO')>0 || instr(upper(toString(resultado)),'BAOJ')>0,'Bajo Peso',toString(null()))))) ~> limpieza",
						"limpieza sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          control_pediatrico_id as integer,",
						"          ci_nino as string,",
						"          ci_madre as string,",
						"          establecimiento_id as integer,",
						"          nro_control as integer,",
						"          fecha_control as date,",
						"          peso_nino_kg as double,",
						"          talla_nino_cm as double,",
						"          vacuna_aplicada as string,",
						"          resultado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sinkBJAcontrolesPediatricos"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/bronze_bja_controles_pediatricos')]",
				"[concat(variables('factoryId'), '/datasets/silver_bja_controles_pediatricos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_bja_controles_prenatales')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bronze_bja_controles_prenatales",
								"type": "DatasetReference"
							},
							"name": "srcBjaControlesPrenatales"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_bja_controles_prenatales",
								"type": "DatasetReference"
							},
							"name": "sinkBJAcontrolesPrenatales"
						}
					],
					"transformations": [
						{
							"name": "limpieza"
						}
					],
					"scriptLines": [
						"source(output(",
						"          control_prenatal_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as integer,",
						"          nro_control as integer,",
						"          fecha_control as string,",
						"          semana_gestacion as double,",
						"          peso_madre_kg as double,",
						"          presion_arterial as string,",
						"          resultado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT\\n    control_prenatal_id,\\n    TRIM(ci_beneficiaria) AS ci_beneficiaria,\\n    establecimiento_id,\\n    nro_control,\\n    TRIM(fecha_control) AS fecha_control,\\n    semana_gestacion,\\n    peso_madre_kg,\\n    TRIM(presion_arterial) AS presion_arterial,\\n    TRIM(resultado) AS resultado\\nFROM bronze.bja_controles_prenatales\\nWHERE control_prenatal_id IS NOT NULL',",
						"     format: 'query') ~> srcBjaControlesPrenatales",
						"srcBjaControlesPrenatales derive(ci_beneficiaria = regexReplace(replace(replace(toString(ci_beneficiaria),'-',''),' ',''),'^([A-Z]{2})([0-9]+)$','$2$1'),",
						"          fecha_control = coalesce(toDate(toString(fecha_control),'yyyy-MM-dd'),toDate(toString(fecha_control),'dd-MM-yyyy'),toDate(toString(fecha_control),'dd/MM/yyyy'),toDate(toString(fecha_control),'MM/dd/yyyy')),",
						"          peso_madre_kg = case(toFloat(peso_madre_kg)>=35.0 && toFloat(peso_madre_kg)<=200.0, round(toFloat(peso_madre_kg),1)),",
						"          resultado = iif(instr(upper(toString(resultado)),'NOM')>0 || instr(upper(toString(resultado)),'NOR')>0 || instr(upper(toString(resultado)),'NRM')>0,'Normal',iif(instr(upper(toString(resultado)),'ALT')>0 || instr(upper(toString(resultado)),'LTO')>0,'Riesgo Alto',iif(instr(upper(toString(resultado)),'MODER')>0 || instr(upper(toString(resultado)),'ODER')>0,'Riesgo Moderado',iif(instr(upper(toString(resultado)),'BAJO')>0,'Riesgo Bajo',toString(null()))))),",
						"          presion_sistolica = toInteger(trim(split(toString(presion_arterial),'/')[1])),",
						"          presion_diastolica = toInteger(trim(split(toString(presion_arterial),'/')[2]))) ~> limpieza",
						"limpieza sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          control_prenatal_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as integer,",
						"          nro_control as integer,",
						"          fecha_control as date,",
						"          semana_gestacion as double,",
						"          peso_madre_kg as decimal(5,1),",
						"          presion_sistolica as integer,",
						"          presion_diastolica as integer,",
						"          resultado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          control_prenatal_id,",
						"          ci_beneficiaria,",
						"          establecimiento_id,",
						"          nro_control,",
						"          fecha_control,",
						"          semana_gestacion,",
						"          peso_madre_kg,",
						"          presion_sistolica,",
						"          presion_diastolica,",
						"          resultado",
						"     )) ~> sinkBJAcontrolesPrenatales"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/bronze_bja_controles_prenatales')]",
				"[concat(variables('factoryId'), '/datasets/silver_bja_controles_prenatales')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_bja_establecimientos')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bronze_bja_establecimientos",
								"type": "DatasetReference"
							},
							"name": "srcBjaEstablecimientos"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_bja_establecimientos",
								"type": "DatasetReference"
							},
							"name": "sinkBjaEstablecimientos"
						}
					],
					"transformations": [
						{
							"name": "limpieza"
						}
					],
					"scriptLines": [
						"source(output(",
						"          establecimiento_id as integer,",
						"          codigo_snis as string,",
						"          nombre as string,",
						"          tipo as string,",
						"          nivel_atencion as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          red_salud as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT\\n    establecimiento_id,\\n    TRIM(codigo_snis) AS codigo_snis,\\n    TRIM(nombre) AS nombre,\\n    TRIM(tipo) AS tipo,\\n    TRIM(nivel_atencion) AS nivel_atencion,\\n    TRIM(municipio) AS municipio,\\n    TRIM(departamento) AS departamento,\\n    TRIM(red_salud) AS red_salud,\\n    TRIM(estado) AS estado\\nFROM bronze.bja_establecimientos_salud\\nWHERE establecimiento_id IS NOT NULL',",
						"     format: 'query') ~> srcBjaEstablecimientos",
						"srcBjaEstablecimientos derive(departamento = case(upper(toString(departamento))=='LP' || upper(toString(departamento))=='LA PAZ','La Paz',case(upper(toString(departamento))=='CB' || upper(toString(departamento))=='COCHABAMBA','Cochabamba',case(upper(toString(departamento))=='SC' || upper(toString(departamento))=='SANTA CRUZ','Santa Cruz',case(upper(toString(departamento))=='OR' || upper(toString(departamento))=='ORURO','Oruro',case(upper(toString(departamento))=='PT' || upper(toString(departamento))=='POTOSI','Potosí',case(upper(toString(departamento))=='TJ' || upper(toString(departamento))=='TARIJA','Tarija',case(upper(toString(departamento))=='CH' || upper(toString(departamento))=='CHUQUISACA','Chuquisaca',case(upper(toString(departamento))=='BN' || upper(toString(departamento))=='BENI','Beni',case(upper(toString(departamento))=='PD' || upper(toString(departamento))=='PANDO','Pando',toString(departamento)))))))))),",
						"          sistema = 'BJA') ~> limpieza",
						"limpieza sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          establecimiento_id as integer,",
						"          sistema as string,",
						"          codigo_snis as string,",
						"          nombre as string,",
						"          tipo as string,",
						"          nivel_atencion as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          red_salud as string,",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sinkBjaEstablecimientos"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/bronze_bja_establecimientos')]",
				"[concat(variables('factoryId'), '/datasets/silver_bja_establecimientos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_bja_inscripciones')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bronze_bja_inscripciones",
								"type": "DatasetReference"
							},
							"name": "srcBjaInscripciones"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_bja_inscripciones",
								"type": "DatasetReference"
							},
							"name": "sinkBjaInscripciones"
						}
					],
					"transformations": [
						{
							"name": "limpieza"
						}
					],
					"scriptLines": [
						"source(output(",
						"          inscripcion_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as integer,",
						"          fecha_inscripcion as string,",
						"          semana_gestacion as integer,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT\\n    inscripcion_id,\\n    TRIM(ci_beneficiaria) AS ci_beneficiaria,\\n    establecimiento_id,\\n    TRIM(fecha_inscripcion) AS fecha_inscripcion,\\n    semana_gestacion,\\n    TRIM(estado) AS estado\\nFROM bronze.bja_inscripciones\\nWHERE inscripcion_id IS NOT NULL',",
						"     format: 'query') ~> srcBjaInscripciones",
						"srcBjaInscripciones derive(ci_beneficiaria = regexReplace(replace(replace(toString(ci_beneficiaria),'-',''),' ',''),'^([A-Z]{2})([0-9]+)$','$2$1'),",
						"          fecha_inscripcion = coalesce(toDate(toString(fecha_inscripcion),'yyyy-MM-dd'),toDate(toString(fecha_inscripcion),'dd-MM-yyyy'),toDate(toString(fecha_inscripcion),'dd/MM/yyyy'),toDate(toString(fecha_inscripcion),'MM/dd/yyyy'))) ~> limpieza",
						"limpieza sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          inscripcion_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as integer,",
						"          fecha_inscripcion as date,",
						"          semana_gestacion as integer,",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          inscripcion_id,",
						"          ci_beneficiaria,",
						"          establecimiento_id,",
						"          fecha_inscripcion,",
						"          semana_gestacion,",
						"          estado",
						"     )) ~> sinkBjaInscripciones"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/bronze_bja_inscripciones')]",
				"[concat(variables('factoryId'), '/datasets/silver_bja_inscripciones')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_bja_pagos')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bronze_bja_pagos",
								"type": "DatasetReference"
							},
							"name": "srcBjaPagos"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_bja_pagos",
								"type": "DatasetReference"
							},
							"name": "sinkBjaPagos"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          pago_id as integer,",
						"          ci_beneficiaria as string,",
						"          concepto_pago as string,",
						"          monto_bs as double,",
						"          fecha_pago as string,",
						"          estado_pago as string,",
						"          canal_pago as string,",
						"          nro_comprobante as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT pago_id, ci_beneficiaria, concepto_pago, monto_bs, fecha_pago, estado_pago, canal_pago, nro_comprobante\\nFROM bronze.bja_pagos\\nWHERE pago_id IS NOT NULL',",
						"     format: 'query') ~> srcBjaPagos",
						"srcBjaPagos derive(ci_beneficiaria = regexReplace(replace(replace(toString(ci_beneficiaria),'-',''),' ',''),'^([A-Z]{2})([0-9]+)$','$2$1'),",
						"          concepto_pago = iif(instr(upper(toString(concepto_pago)),'PART')>0,'Parto Institucional',iif(instr(upper(toString(concepto_pago)),'INSTIT')>0,'Parto Institucional',iif(instr(toString(concepto_pago),'4')>0,'Control Prenatal 4',iif(instr(toString(concepto_pago),'3')>0,'Control Prenatal 3',iif(instr(toString(concepto_pago),'2')>0,'Control Prenatal 2',iif(instr(toString(concepto_pago),'1')>0,'Control Prenatal 1',toString(null()))))))),",
						"          monto_bs = round(toFloat(monto_bs),2),",
						"          fecha_pago = coalesce(toDate(toString(fecha_pago),'yyyy-MM-dd'),toDate(toString(fecha_pago),'dd-MM-yyyy'),toDate(toString(fecha_pago),'dd/MM/yyyy'),toDate(toString(fecha_pago),'MM/dd/yyyy')),",
						"          estado_pago = iif(instr(upper(trim(toString(estado_pago))),'PAG')>0,'Pagado',iif(instr(upper(trim(toString(estado_pago))),'PEND')>0,'Pendiente',iif(instr(upper(trim(toString(estado_pago))),'ANUL')>0,'Anulado',toString(null())))),",
						"          canal_pago = iif(instr(upper(replace(toString(canal_pago),' ','')),'BANC')>0,'Banco Unión',iif(instr(upper(replace(toString(canal_pago),' ','')),'MOV')>0,'Pago Móvil',iif(instr(upper(replace(toString(canal_pago),' ','')),'MÓV')>0,'Pago Móvil',iif(instr(upper(replace(toString(canal_pago),' ','')),'TRANS')>0,'Transferencia Bancaria',iif(instr(upper(replace(toString(canal_pago),' ','')),'TARN')>0,'Transferencia Bancaria',toString(null()))))))) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          pago_id as integer,",
						"          ci_beneficiaria as string,",
						"          concepto_pago as string,",
						"          monto_bs as double,",
						"          fecha_pago as date,",
						"          estado_pago as string,",
						"          canal_pago as string,",
						"          nro_comprobante as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          pago_id,",
						"          ci_beneficiaria,",
						"          concepto_pago,",
						"          monto_bs,",
						"          fecha_pago,",
						"          estado_pago,",
						"          canal_pago,",
						"          nro_comprobante",
						"     )) ~> sinkBjaPagos"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/bronze_bja_pagos')]",
				"[concat(variables('factoryId'), '/datasets/silver_bja_pagos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_bja_partos')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bronze_bja_partos",
								"type": "DatasetReference"
							},
							"name": "srcBjaPartos"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_bja_partos",
								"type": "DatasetReference"
							},
							"name": "sinkBjaPartos"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          parto_id as integer,",
						"          ci_madre as string,",
						"          ci_recien_nacido as string,",
						"          establecimiento_id as integer,",
						"          fecha_parto as string,",
						"          tipo_parto as string,",
						"          peso_nacimiento_kg as double,",
						"          talla_nacimiento_cm as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT\\n    parto_id,\\n    TRIM(ci_madre) AS ci_madre,\\n    TRIM(ci_recien_nacido) AS ci_recien_nacido,\\n    establecimiento_id,\\n    TRIM(fecha_parto) AS fecha_parto,\\n    TRIM(tipo_parto) AS tipo_parto,\\n    peso_nacimiento_kg,\\n    talla_nacimiento_cm\\nFROM bronze.bja_partos\\nWHERE parto_id IS NOT NULL',",
						"     format: 'query') ~> srcBjaPartos",
						"srcBjaPartos derive(tipo_parto = iif(substring(upper(trim(toString(tipo_parto))),1,1)=='N','Natural',iif(substring(upper(trim(toString(tipo_parto))),1,1)=='C','Cesárea',toString(null()))),",
						"          ci_madre = regexReplace(replace(replace(toString(ci_madre),'-',''),' ',''),'^([A-Z]{2})([0-9]+)$','$2$1'),",
						"          ci_recien_nacido = regexReplace(replace(replace(toString(ci_recien_nacido),'-',''),' ',''),'^([A-Z]{2})([0-9]+)$','$2$1'),",
						"          fecha_parto = coalesce(toDate(toString(fecha_parto),'yyyy-MM-dd'),toDate(toString(fecha_parto),'dd-MM-yyyy'),toDate(toString(fecha_parto),'dd/MM/yyyy'),toDate(toString(fecha_parto),'MM/dd/yyyy')),",
						"          peso_nacimiento_kg = iif(toFloat(peso_nacimiento_kg)>=1.0 && toFloat(peso_nacimiento_kg)<=6.0,toFloat(peso_nacimiento_kg),toFloat(null())),",
						"          talla_nacimiento_cm = iif(toFloat(talla_nacimiento_cm)>=40.0 && toFloat(talla_nacimiento_cm)<=60.0,toFloat(talla_nacimiento_cm),toFloat(null()))) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          parto_id as integer,",
						"          ci_madre as string,",
						"          ci_recien_nacido as string,",
						"          establecimiento_id as integer,",
						"          fecha_parto as date,",
						"          tipo_parto as string,",
						"          peso_nacimiento_kg as double,",
						"          talla_nacimiento_cm as double",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          parto_id,",
						"          ci_madre,",
						"          ci_recien_nacido,",
						"          establecimiento_id,",
						"          fecha_parto,",
						"          tipo_parto,",
						"          peso_nacimiento_kg,",
						"          talla_nacimiento_cm",
						"     )) ~> sinkBjaPartos"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/bronze_bja_partos')]",
				"[concat(variables('factoryId'), '/datasets/silver_bja_partos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_segip')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bronze_segip",
								"type": "DatasetReference"
							},
							"name": "srcSegip"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_segip",
								"type": "DatasetReference"
							},
							"name": "sinkSegip"
						}
					],
					"transformations": [
						{
							"name": "limpieza"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ci as string,",
						"          nombres as string,",
						"          apellido_paterno as string,",
						"          apellido_materno as string,",
						"          fecha_nacimiento as string,",
						"          genero as string,",
						"          estado_civil as string,",
						"          numero_hijos as integer,",
						"          profesion as string,",
						"          nivel_estudios as string,",
						"          municipio_residencia as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT\\n    TRIM(ci) AS ci,\\n    TRIM(nombres) AS nombres,\\n    TRIM(apellido_paterno) AS apellido_paterno,\\n    TRIM(apellido_materno) AS apellido_materno,\\n    TRIM(fecha_nacimiento) AS fecha_nacimiento,\\n    TRIM(genero) AS genero,\\n    TRIM(estado_civil) AS estado_civil,\\n    numero_hijos,\\n    TRIM(profesion) AS profesion,\\n    TRIM(nivel_estudios) AS nivel_estudios,\\n    TRIM(municipio_residencia) AS municipio_residencia\\nFROM bronze.segip\\nWHERE ci IS NOT NULL',",
						"     format: 'query') ~> srcSegip",
						"srcSegip derive(fecha_nacimiento = coalesce(toDate(toString(fecha_nacimiento),'yyyy-MM-dd'),toDate(toString(fecha_nacimiento),'dd/MM/yyyy'),toDate(toString(fecha_nacimiento),'dd-MM-yyyy'))) ~> limpieza",
						"limpieza sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ci as string,",
						"          nombres as string,",
						"          apellido_paterno as string,",
						"          apellido_materno as string,",
						"          fecha_nacimiento as date,",
						"          genero as string,",
						"          estado_civil as string,",
						"          numero_hijos as integer,",
						"          profesion as string,",
						"          nivel_estudios as string,",
						"          municipio_residencia as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sinkSegip"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/bronze_segip')]",
				"[concat(variables('factoryId'), '/datasets/silver_segip')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_sup_boletas')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bronze_sup_boletas",
								"type": "DatasetReference"
							},
							"name": "srcSupBoletas"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_sup_boletas",
								"type": "DatasetReference"
							},
							"name": "sinkSupBoletas"
						}
					],
					"transformations": [
						{
							"name": "limpieza"
						}
					],
					"scriptLines": [
						"source(output(",
						"          boleta_id as integer,",
						"          control_id as integer,",
						"          ci_beneficiaria as string,",
						"          nro_boleta as string,",
						"          fecha_emision as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT\\n    boleta_id,\\n    control_id,\\n    REPLACE(REPLACE(TRIM(ci_beneficiaria),\\'\"\\',\\'\\'),\\' \\',\\'\\') AS ci_beneficiaria,\\n    REPLACE(TRIM(nro_boleta),\\'\"\\',\\'\\') AS nro_boleta,\\n    REPLACE(TRIM(fecha_emision),\\'\"\\',\\'\\') AS fecha_emision,\\n    REPLACE(TRIM(estado),\\'\"\\',\\'\\') AS estado\\nFROM bronze.sup_boletas\\nWHERE boleta_id IS NOT NULL',",
						"     format: 'query') ~> srcSupBoletas",
						"srcSupBoletas derive(ci_beneficiaria = upper(regexReplace(replace(replace(toString(ci_beneficiaria),'-',''),' ',''),'^([A-Za-z]{2})([0-9]+)$','$2$1')),",
						"          fecha_emision = coalesce(toDate(toString(fecha_emision),'yyyy-MM-dd'),toDate(toString(fecha_emision),'dd-MM-yyyy'),toDate(toString(fecha_emision),'dd/MM/yyyy'),toDate(toString(fecha_emision),'MM/dd/yyyy')),",
						"          estado = iif(instr(upper(toString(estado)),'CANJ')>0,'Canjeada',iif(instr(upper(toString(estado)),'VENC')>0,'Vencida',iif(instr(upper(toString(estado)),'ANUL')>0,'Anulada',iif(instr(upper(toString(estado)),'VIG')>0,'Vigente',toString(null())))))) ~> limpieza",
						"limpieza sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          boleta_id as integer,",
						"          control_id as integer,",
						"          ci_beneficiaria as string,",
						"          nro_boleta as string,",
						"          fecha_emision as date,",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sinkSupBoletas"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/bronze_sup_boletas')]",
				"[concat(variables('factoryId'), '/datasets/silver_sup_boletas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_sup_catalogopaquetes')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bronze_sup_catalogopaquetes",
								"type": "DatasetReference"
							},
							"name": "srcSupCatalogoPaquetes"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_sup_catalogopaquetes",
								"type": "DatasetReference"
							},
							"name": "sinkSupCatalogoPaquetes"
						}
					],
					"transformations": [
						{
							"name": "limpieza"
						}
					],
					"scriptLines": [
						"source(output(",
						"          paquete_id as integer,",
						"          nombre as string,",
						"          contenido as string,",
						"          peso_estandar_kg as double,",
						"          costo_estimado_bs as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT\\n    paquete_id,\\n    REPLACE(TRIM(nombre),\\'\"\\',\\'\\') AS nombre,\\n    REPLACE(TRIM(contenido),\\'\"\\',\\'\\') AS contenido,\\n    peso_estandar_kg,\\n    costo_estimado_bs\\nFROM bronze.sup_catalogopaquetes\\nWHERE paquete_id IS NOT NULL',",
						"     format: 'query') ~> srcSupCatalogoPaquetes",
						"srcSupCatalogoPaquetes derive(peso_estandar_kg = round(toFloat(peso_estandar_kg),2)) ~> limpieza",
						"limpieza sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          paquete_id as integer,",
						"          nombre as string,",
						"          contenido as string,",
						"          peso_estandar_kg as double,",
						"          costo_estimado_bs as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sinkSupCatalogoPaquetes"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/bronze_sup_catalogopaquetes')]",
				"[concat(variables('factoryId'), '/datasets/silver_sup_catalogopaquetes')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_sup_controles')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bronze_sup_controles",
								"type": "DatasetReference"
							},
							"name": "srcSupControles"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_sup_controles",
								"type": "DatasetReference"
							},
							"name": "sinkSupControles"
						}
					],
					"transformations": [
						{
							"name": "limpieza"
						}
					],
					"scriptLines": [
						"source(output(",
						"          control_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as integer,",
						"          nro_control as integer,",
						"          fecha_control as string,",
						"          semana_gestacion as double,",
						"          peso_madre_kg as double,",
						"          presion_arterial as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT\\n    control_id,\\n    REPLACE(REPLACE(TRIM(ci_beneficiaria),\\'\"\\',\\'\\'),\\' \\',\\'\\') AS ci_beneficiaria,\\n    establecimiento_id,\\n    nro_control,\\n    REPLACE(TRIM(fecha_control),\\'\"\\',\\'\\') AS fecha_control,\\n    semana_gestacion,\\n    peso_madre_kg,\\n    REPLACE(TRIM(presion_arterial),\\'\"\\',\\'\\') AS presion_arterial\\nFROM bronze.sup_controles\\nWHERE control_id IS NOT NULL',",
						"     format: 'query') ~> srcSupControles",
						"srcSupControles derive(ci_beneficiaria = upper(regexReplace(replace(replace(toString(ci_beneficiaria),'-',''),' ',''),'^([A-Za-z]{2})([0-9]+)$','$2$1')),",
						"          fecha_control = coalesce(toDate(toString(fecha_control),'yyyy-MM-dd'),toDate(toString(fecha_control),'dd-MM-yyyy'),toDate(toString(fecha_control),'dd/MM/yyyy'),toDate(toString(fecha_control),'MM/dd/yyyy')),",
						"          semana_gestacion = case(toFloat(semana_gestacion)>=1.0 && toFloat(semana_gestacion)<=42.0, toFloat(semana_gestacion)),",
						"          peso_madre_kg = case(toFloat(peso_madre_kg)>=35.0 && toFloat(peso_madre_kg)<=200.0, round(toFloat(peso_madre_kg),1)),",
						"          {presion_sistolica } = toInteger(trim(split(toString(presion_arterial),'/')[1])),",
						"          presion_diastolica = toInteger(trim(split(toString(presion_arterial),'/')[2]))) ~> limpieza",
						"limpieza sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          control_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as integer,",
						"          nro_control as integer,",
						"          fecha_control as date,",
						"          semana_gestacion as double,",
						"          peso_madre_kg as decimal(5,1),",
						"          presion_sistolica as integer,",
						"          presion_diastolica as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          control_id,",
						"          ci_beneficiaria,",
						"          establecimiento_id,",
						"          nro_control,",
						"          fecha_control,",
						"          semana_gestacion,",
						"          peso_madre_kg,",
						"          presion_sistolica = {presion_sistolica },",
						"          presion_diastolica",
						"     )) ~> sinkSupControles"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/bronze_sup_controles')]",
				"[concat(variables('factoryId'), '/datasets/silver_sup_controles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_sup_entregas')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bronze_sup_entregas",
								"type": "DatasetReference"
							},
							"name": "srcSupEntregas"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_sup_entregas",
								"type": "DatasetReference"
							},
							"name": "sinkSupEntregas"
						}
					],
					"transformations": [
						{
							"name": "limpieza"
						}
					],
					"scriptLines": [
						"source(output(",
						"          entrega_id as integer,",
						"          boleta_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as integer,",
						"          paquete_id as integer,",
						"          paquete_nombre as string,",
						"          fecha_entrega as string,",
						"          lote_produccion as string,",
						"          peso_paquete_kg as double,",
						"          fecha_proxima_entrega as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT\\n    entrega_id,\\n    boleta_id,\\n    REPLACE(REPLACE(TRIM(ci_beneficiaria),\\'\"\\',\\'\\'),\\' \\',\\'\\') AS ci_beneficiaria,\\n    establecimiento_id,\\n    paquete_id,\\n    REPLACE(TRIM(paquete_nombre),\\'\"\\',\\'\\') AS paquete_nombre,\\n    REPLACE(TRIM(fecha_entrega),\\'\"\\',\\'\\') AS fecha_entrega,\\n    REPLACE(TRIM(lote_produccion),\\'\"\\',\\'\\') AS lote_produccion,\\n    peso_paquete_kg,\\n    REPLACE(TRIM(fecha_proxima_entrega),\\'\"\\',\\'\\') AS fecha_proxima_entrega\\nFROM bronze.sup_entregas\\nWHERE entrega_id IS NOT NULL',",
						"     format: 'query') ~> srcSupEntregas",
						"srcSupEntregas derive(ci_beneficiaria = upper(regexReplace(replace(replace(toString(ci_beneficiaria),'-',''),' ',''),'^([A-Za-z]{2})([0-9]+)$','$2$1')),",
						"          fecha_entrega = coalesce(toDate(toString(fecha_entrega),'yyyy-MM-dd'),toDate(toString(fecha_entrega),'dd-MM-yyyy'),toDate(toString(fecha_entrega),'dd/MM/yyyy'),toDate(toString(fecha_entrega),'MM/dd/yyyy')),",
						"          fecha_proxima_entrega = coalesce(toDate(toString(fecha_proxima_entrega),'yyyy-MM-dd'),toDate(toString(fecha_proxima_entrega),'dd-MM-yyyy'),toDate(toString(fecha_proxima_entrega),'dd/MM/yyyy'),toDate(toString(fecha_proxima_entrega),'MM/dd/yyyy')),",
						"          peso_paquete_kg = round(toFloat(peso_paquete_kg),2)) ~> limpieza",
						"limpieza sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          entrega_id as integer,",
						"          boleta_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as integer,",
						"          paquete_id as integer,",
						"          paquete_nombre as string,",
						"          fecha_entrega as date,",
						"          lote_produccion as string,",
						"          peso_paquete_kg as double,",
						"          fecha_proxima_entrega as date",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sinkSupEntregas"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/bronze_sup_entregas')]",
				"[concat(variables('factoryId'), '/datasets/silver_sup_entregas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_sup_establecimientos')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bronze_sup_establecimientos",
								"type": "DatasetReference"
							},
							"name": "srcSupEstablecimientos"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_sup_establecimientos",
								"type": "DatasetReference"
							},
							"name": "sinkSupEstablecimientos"
						}
					],
					"transformations": [
						{
							"name": "limpieza"
						}
					],
					"scriptLines": [
						"source(output(",
						"          establecimiento_id as integer,",
						"          codigo_snis as string,",
						"          nombre as string,",
						"          tipo as string,",
						"          nivel_atencion as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          red_salud as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT\\n    establecimiento_id,\\n    REPLACE(TRIM(codigo_snis),\\'\"\\',\\'\\') AS codigo_snis,\\n    REPLACE(TRIM(nombre),\\'\"\\',\\'\\') AS nombre,\\n    REPLACE(TRIM(tipo),\\'\"\\',\\'\\') AS tipo,\\n    REPLACE(TRIM(nivel_atencion),\\'\"\\',\\'\\') AS nivel_atencion,\\n    REPLACE(TRIM(municipio),\\'\"\\',\\'\\') AS municipio,\\n    REPLACE(TRIM(departamento),\\'\"\\',\\'\\') AS departamento,\\n    REPLACE(TRIM(red_salud),\\'\"\\',\\'\\') AS red_salud,\\n    REPLACE(TRIM(estado),\\'\"\\',\\'\\') AS estado\\nFROM bronze.sup_establecimientos\\nWHERE establecimiento_id IS NOT NULL',",
						"     format: 'query') ~> srcSupEstablecimientos",
						"srcSupEstablecimientos derive(departamento = case(upper(toString(departamento))=='LP' || upper(toString(departamento))=='LA PAZ','La Paz',case(upper(toString(departamento))=='CB' || upper(toString(departamento))=='COCHABAMBA','Cochabamba',case(upper(toString(departamento))=='SC' || upper(toString(departamento))=='SANTA CRUZ','Santa Cruz',case(upper(toString(departamento))=='OR' || upper(toString(departamento))=='ORURO','Oruro',case(upper(toString(departamento))=='PT' || upper(toString(departamento))=='POTOSI','Potosí',case(upper(toString(departamento))=='TJ' || upper(toString(departamento))=='TARIJA','Tarija',case(upper(toString(departamento))=='CH' || upper(toString(departamento))=='CHUQUISACA','Chuquisaca',case(upper(toString(departamento))=='BN' || upper(toString(departamento))=='BENI','Beni',case(upper(toString(departamento))=='PD' || upper(toString(departamento))=='PANDO','Pando',toString(departamento)))))))))),",
						"          sistema = 'SUP') ~> limpieza",
						"limpieza sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          establecimiento_id as integer,",
						"          sistema as string,",
						"          codigo_snis as string,",
						"          nombre as string,",
						"          tipo as string,",
						"          nivel_atencion as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          red_salud as string,",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sinkSupEstablecimientos"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/bronze_sup_establecimientos')]",
				"[concat(variables('factoryId'), '/datasets/silver_sup_establecimientos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_sup_inscripciones')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bronze_sup_inscripciones",
								"type": "DatasetReference"
							},
							"name": "srcSupInscripciones"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_sup_inscripciones",
								"type": "DatasetReference"
							},
							"name": "sinkSupInscripciones"
						}
					],
					"transformations": [
						{
							"name": "limpieza"
						}
					],
					"scriptLines": [
						"source(output(",
						"          inscripcion_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as integer,",
						"          fecha_inscripcion as string,",
						"          semana_gestacion as integer,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT\\n    inscripcion_id,\\n    REPLACE(REPLACE(TRIM(ci_beneficiaria),\\'\"\\',\\'\\'),\\' \\',\\'\\') AS ci_beneficiaria,\\n    establecimiento_id,\\n    REPLACE(TRIM(fecha_inscripcion),\\'\"\\',\\'\\') AS fecha_inscripcion,\\n    semana_gestacion,\\n    REPLACE(TRIM(estado),\\'\"\\',\\'\\') AS estado\\nFROM bronze.sup_inscripciones\\nWHERE inscripcion_id IS NOT NULL',",
						"     format: 'query') ~> srcSupInscripciones",
						"srcSupInscripciones derive(ci_beneficiaria = upper(regexReplace(replace(replace(toString(ci_beneficiaria),'-',''),' ',''),'^([A-Za-z]{2})([0-9]+)$','$2$1')),",
						"          fecha_inscripcion = coalesce(toDate(toString(fecha_inscripcion),'yyyy-MM-dd'),toDate(toString(fecha_inscripcion),'dd-MM-yyyy'),toDate(toString(fecha_inscripcion),'dd/MM/yyyy'),toDate(toString(fecha_inscripcion),'MM/dd/yyyy')),",
						"          estado = iif(instr(upper(toString(estado)),'COMPL')>0,'Completada',iif(instr(upper(toString(estado)),'INACT')>0,'Inactiva',iif(instr(upper(toString(estado)),'ACTIV')>0,'Activa',toString(null()))))) ~> limpieza",
						"limpieza sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          inscripcion_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as integer,",
						"          fecha_inscripcion as date,",
						"          semana_gestacion as integer,",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sinkSupInscripciones"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/bronze_sup_inscripciones')]",
				"[concat(variables('factoryId'), '/datasets/silver_sup_inscripciones')]"
			]
		}
	]
}