adf-ucb-sisger-dwsubsidio-13353021/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "adf-ucb-sisger-dwsubsidio-13353021"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_bja_inscripciones')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bronze_bja_inscripciones",
								"type": "DatasetReference"
							},
							"name": "srcBjaInscripciones"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_bja_inscripciones",
								"type": "DatasetReference"
							},
							"name": "sinkBjaInscripciones"
						}
					],
					"transformations": [
						{
							"name": "limpieza"
						}
					],
					"scriptLines": [
						"source(output(",
						"          inscripcion_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as integer,",
						"          fecha_inscripcion as string,",
						"          semana_gestacion as integer,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT\\n    inscripcion_id,\\n    TRIM(ci_beneficiaria) AS ci_beneficiaria,\\n    establecimiento_id,\\n    TRIM(fecha_inscripcion) AS fecha_inscripcion,\\n    semana_gestacion,\\n    TRIM(estado) AS estado\\nFROM bronze.bja_inscripciones\\nWHERE inscripcion_id IS NOT NULL',",
						"     format: 'query') ~> srcBjaInscripciones",
						"srcBjaInscripciones derive(ci_beneficiaria = regexReplace(replace(replace(toString(ci_beneficiaria),'-',''),' ',''),'^([A-Z]{2})([0-9]+)$','$2$1'),",
						"          fecha_inscripcion = coalesce(toDate(toString(fecha_inscripcion),'yyyy-MM-dd'),toDate(toString(fecha_inscripcion),'dd-MM-yyyy'),toDate(toString(fecha_inscripcion),'dd/MM/yyyy'),toDate(toString(fecha_inscripcion),'MM/dd/yyyy'))) ~> limpieza",
						"limpieza sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          inscripcion_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as integer,",
						"          fecha_inscripcion as date,",
						"          semana_gestacion as integer,",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          inscripcion_id,",
						"          ci_beneficiaria,",
						"          establecimiento_id,",
						"          fecha_inscripcion,",
						"          semana_gestacion,",
						"          estado",
						"     )) ~> sinkBjaInscripciones"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_bja_pagos')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bronze_bja_pagos",
								"type": "DatasetReference"
							},
							"name": "srcBjaPagos"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_bja_pagos",
								"type": "DatasetReference"
							},
							"name": "sinkBjaPagos"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          pago_id as integer,",
						"          ci_beneficiaria as string,",
						"          concepto_pago as string,",
						"          monto_bs as double,",
						"          fecha_pago as string,",
						"          estado_pago as string,",
						"          canal_pago as string,",
						"          nro_comprobante as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT pago_id, ci_beneficiaria, concepto_pago, monto_bs, fecha_pago, estado_pago, canal_pago, nro_comprobante\\nFROM bronze.bja_pagos\\nWHERE pago_id IS NOT NULL',",
						"     format: 'query') ~> srcBjaPagos",
						"srcBjaPagos derive(ci_beneficiaria = regexReplace(replace(replace(toString(ci_beneficiaria),'-',''),' ',''),'^([A-Z]{2})([0-9]+)$','$2$1'),",
						"          concepto_pago = iif(instr(upper(toString(concepto_pago)),'PART')>0,'Parto Institucional',iif(instr(upper(toString(concepto_pago)),'INSTIT')>0,'Parto Institucional',iif(instr(toString(concepto_pago),'4')>0,'Control Prenatal 4',iif(instr(toString(concepto_pago),'3')>0,'Control Prenatal 3',iif(instr(toString(concepto_pago),'2')>0,'Control Prenatal 2',iif(instr(toString(concepto_pago),'1')>0,'Control Prenatal 1',toString(null()))))))),",
						"          monto_bs = round(toFloat(monto_bs),2),",
						"          fecha_pago = coalesce(toDate(toString(fecha_pago),'yyyy-MM-dd'),toDate(toString(fecha_pago),'dd-MM-yyyy'),toDate(toString(fecha_pago),'dd/MM/yyyy'),toDate(toString(fecha_pago),'MM/dd/yyyy')),",
						"          estado_pago = iif(instr(upper(trim(toString(estado_pago))),'PAG')>0,'Pagado',iif(instr(upper(trim(toString(estado_pago))),'PEND')>0,'Pendiente',iif(instr(upper(trim(toString(estado_pago))),'ANUL')>0,'Anulado',toString(null())))),",
						"          canal_pago = iif(instr(upper(replace(toString(canal_pago),' ','')),'BANC')>0,'Banco Unión',iif(instr(upper(replace(toString(canal_pago),' ','')),'MOV')>0,'Pago Móvil',iif(instr(upper(replace(toString(canal_pago),' ','')),'MÓV')>0,'Pago Móvil',iif(instr(upper(replace(toString(canal_pago),' ','')),'TRANS')>0,'Transferencia Bancaria',iif(instr(upper(replace(toString(canal_pago),' ','')),'TARN')>0,'Transferencia Bancaria',toString(null()))))))) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          pago_id as integer,",
						"          ci_beneficiaria as string,",
						"          concepto_pago as string,",
						"          monto_bs as double,",
						"          fecha_pago as date,",
						"          estado_pago as string,",
						"          canal_pago as string,",
						"          nro_comprobante as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          pago_id,",
						"          ci_beneficiaria,",
						"          concepto_pago,",
						"          monto_bs,",
						"          fecha_pago,",
						"          estado_pago,",
						"          canal_pago,",
						"          nro_comprobante",
						"     )) ~> sinkBjaPagos"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_bja_partos')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bronze_bja_partos",
								"type": "DatasetReference"
							},
							"name": "srcBjaPartos"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_bja_partos",
								"type": "DatasetReference"
							},
							"name": "sinkBjaPartos"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          parto_id as integer,",
						"          ci_madre as string,",
						"          ci_recien_nacido as string,",
						"          establecimiento_id as integer,",
						"          fecha_parto as string,",
						"          tipo_parto as string,",
						"          peso_nacimiento_kg as double,",
						"          talla_nacimiento_cm as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT\\n    parto_id,\\n    TRIM(ci_madre) AS ci_madre,\\n    TRIM(ci_recien_nacido) AS ci_recien_nacido,\\n    establecimiento_id,\\n    TRIM(fecha_parto) AS fecha_parto,\\n    TRIM(tipo_parto) AS tipo_parto,\\n    peso_nacimiento_kg,\\n    talla_nacimiento_cm\\nFROM bronze.bja_partos\\nWHERE parto_id IS NOT NULL',",
						"     format: 'query') ~> srcBjaPartos",
						"srcBjaPartos derive(tipo_parto = iif(substring(upper(trim(toString(tipo_parto))),1,1)=='N','Natural',iif(substring(upper(trim(toString(tipo_parto))),1,1)=='C','Cesárea',toString(null()))),",
						"          ci_madre = regexReplace(replace(replace(toString(ci_madre),'-',''),' ',''),'^([A-Z]{2})([0-9]+)$','$2$1'),",
						"          ci_recien_nacido = regexReplace(replace(replace(toString(ci_recien_nacido),'-',''),' ',''),'^([A-Z]{2})([0-9]+)$','$2$1'),",
						"          fecha_parto = coalesce(toDate(toString(fecha_parto),'yyyy-MM-dd'),toDate(toString(fecha_parto),'dd-MM-yyyy'),toDate(toString(fecha_parto),'dd/MM/yyyy'),toDate(toString(fecha_parto),'MM/dd/yyyy')),",
						"          peso_nacimiento_kg = iif(toFloat(peso_nacimiento_kg)>=1.0 && toFloat(peso_nacimiento_kg)<=6.0,toFloat(peso_nacimiento_kg),toFloat(null())),",
						"          talla_nacimiento_cm = iif(toFloat(talla_nacimiento_cm)>=40.0 && toFloat(talla_nacimiento_cm)<=60.0,toFloat(talla_nacimiento_cm),toFloat(null()))) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          parto_id as integer,",
						"          ci_madre as string,",
						"          ci_recien_nacido as string,",
						"          establecimiento_id as integer,",
						"          fecha_parto as date,",
						"          tipo_parto as string,",
						"          peso_nacimiento_kg as double,",
						"          talla_nacimiento_cm as double",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          parto_id,",
						"          ci_madre,",
						"          ci_recien_nacido,",
						"          establecimiento_id,",
						"          fecha_parto,",
						"          tipo_parto,",
						"          peso_nacimiento_kg,",
						"          talla_nacimiento_cm",
						"     )) ~> sinkBjaPartos"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_segip')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bronze_segip",
								"type": "DatasetReference"
							},
							"name": "srcSegip"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_segip",
								"type": "DatasetReference"
							},
							"name": "sinkSegip"
						}
					],
					"transformations": [
						{
							"name": "limpieza"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ci as string,",
						"          nombres as string,",
						"          apellido_paterno as string,",
						"          apellido_materno as string,",
						"          fecha_nacimiento as string,",
						"          genero as string,",
						"          estado_civil as string,",
						"          numero_hijos as integer,",
						"          profesion as string,",
						"          nivel_estudios as string,",
						"          municipio_residencia as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT\\n    TRIM(ci) AS ci,\\n    TRIM(nombres) AS nombres,\\n    TRIM(apellido_paterno) AS apellido_paterno,\\n    TRIM(apellido_materno) AS apellido_materno,\\n    TRIM(fecha_nacimiento) AS fecha_nacimiento,\\n    TRIM(genero) AS genero,\\n    TRIM(estado_civil) AS estado_civil,\\n    numero_hijos,\\n    TRIM(profesion) AS profesion,\\n    TRIM(nivel_estudios) AS nivel_estudios,\\n    TRIM(municipio_residencia) AS municipio_residencia\\nFROM bronze.segip\\nWHERE ci IS NOT NULL',",
						"     format: 'query') ~> srcSegip",
						"srcSegip derive(fecha_nacimiento = coalesce(toDate(toString(fecha_nacimiento),'yyyy-MM-dd'),toDate(toString(fecha_nacimiento),'dd/MM/yyyy'),toDate(toString(fecha_nacimiento),'dd-MM-yyyy'))) ~> limpieza",
						"limpieza sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ci as string,",
						"          nombres as string,",
						"          apellido_paterno as string,",
						"          apellido_materno as string,",
						"          fecha_nacimiento as date,",
						"          genero as string,",
						"          estado_civil as string,",
						"          numero_hijos as integer,",
						"          profesion as string,",
						"          nivel_estudios as string,",
						"          municipio_residencia as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sinkSegip"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_sup_boletas')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bronze_sup_boletas",
								"type": "DatasetReference"
							},
							"name": "srcSupBoletas"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_sup_boletas",
								"type": "DatasetReference"
							},
							"name": "sinkSupBoletas"
						}
					],
					"transformations": [
						{
							"name": "limpieza"
						}
					],
					"scriptLines": [
						"source(output(",
						"          boleta_id as integer,",
						"          control_id as integer,",
						"          ci_beneficiaria as string,",
						"          nro_boleta as string,",
						"          fecha_emision as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT\\n    boleta_id,\\n    control_id,\\n    REPLACE(REPLACE(TRIM(ci_beneficiaria),\\'\"\\',\\'\\'),\\' \\',\\'\\') AS ci_beneficiaria,\\n    REPLACE(TRIM(nro_boleta),\\'\"\\',\\'\\') AS nro_boleta,\\n    REPLACE(TRIM(fecha_emision),\\'\"\\',\\'\\') AS fecha_emision,\\n    REPLACE(TRIM(estado),\\'\"\\',\\'\\') AS estado\\nFROM bronze.sup_boletas\\nWHERE boleta_id IS NOT NULL',",
						"     format: 'query') ~> srcSupBoletas",
						"srcSupBoletas derive(ci_beneficiaria = upper(regexReplace(replace(replace(toString(ci_beneficiaria),'-',''),' ',''),'^([A-Za-z]{2})([0-9]+)$','$2$1')),",
						"          fecha_emision = coalesce(toDate(toString(fecha_emision),'yyyy-MM-dd'),toDate(toString(fecha_emision),'dd-MM-yyyy'),toDate(toString(fecha_emision),'dd/MM/yyyy'),toDate(toString(fecha_emision),'MM/dd/yyyy')),",
						"          estado = iif(instr(upper(toString(estado)),'CANJ')>0,'Canjeada',iif(instr(upper(toString(estado)),'VENC')>0,'Vencida',iif(instr(upper(toString(estado)),'ANUL')>0,'Anulada',iif(instr(upper(toString(estado)),'VIG')>0,'Vigente',toString(null())))))) ~> limpieza",
						"limpieza sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          boleta_id as integer,",
						"          control_id as integer,",
						"          ci_beneficiaria as string,",
						"          nro_boleta as string,",
						"          fecha_emision as date,",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sinkSupBoletas"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_sup_catalogopaquetes')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bronze_sup_catalogopaquetes",
								"type": "DatasetReference"
							},
							"name": "srcSupCatalogoPaquetes"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_sup_catalogopaquetes",
								"type": "DatasetReference"
							},
							"name": "sinkSupCatalogoPaquetes"
						}
					],
					"transformations": [
						{
							"name": "limpieza"
						}
					],
					"scriptLines": [
						"source(output(",
						"          paquete_id as integer,",
						"          nombre as string,",
						"          contenido as string,",
						"          peso_estandar_kg as double,",
						"          costo_estimado_bs as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT\\n    paquete_id,\\n    REPLACE(TRIM(nombre),\\'\"\\',\\'\\') AS nombre,\\n    REPLACE(TRIM(contenido),\\'\"\\',\\'\\') AS contenido,\\n    peso_estandar_kg,\\n    costo_estimado_bs\\nFROM bronze.sup_catalogopaquetes\\nWHERE paquete_id IS NOT NULL',",
						"     format: 'query') ~> srcSupCatalogoPaquetes",
						"srcSupCatalogoPaquetes derive(peso_estandar_kg = round(toFloat(peso_estandar_kg),2)) ~> limpieza",
						"limpieza sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          paquete_id as integer,",
						"          nombre as string,",
						"          contenido as string,",
						"          peso_estandar_kg as double,",
						"          costo_estimado_bs as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sinkSupCatalogoPaquetes"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_sup_controles')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bronze_sup_controles",
								"type": "DatasetReference"
							},
							"name": "srcSupControles"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_sup_controles",
								"type": "DatasetReference"
							},
							"name": "sinkSupControles"
						}
					],
					"transformations": [
						{
							"name": "limpieza"
						}
					],
					"scriptLines": [
						"source(output(",
						"          control_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as integer,",
						"          nro_control as integer,",
						"          fecha_control as string,",
						"          semana_gestacion as double,",
						"          peso_madre_kg as double,",
						"          presion_arterial as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT\\n    control_id,\\n    REPLACE(REPLACE(TRIM(ci_beneficiaria),\\'\"\\',\\'\\'),\\' \\',\\'\\') AS ci_beneficiaria,\\n    establecimiento_id,\\n    nro_control,\\n    REPLACE(TRIM(fecha_control),\\'\"\\',\\'\\') AS fecha_control,\\n    semana_gestacion,\\n    peso_madre_kg,\\n    REPLACE(TRIM(presion_arterial),\\'\"\\',\\'\\') AS presion_arterial\\nFROM bronze.sup_controles\\nWHERE control_id IS NOT NULL',",
						"     format: 'query') ~> srcSupControles",
						"srcSupControles derive(ci_beneficiaria = upper(regexReplace(replace(replace(toString(ci_beneficiaria),'-',''),' ',''),'^([A-Za-z]{2})([0-9]+)$','$2$1')),",
						"          fecha_control = coalesce(toDate(toString(fecha_control),'yyyy-MM-dd'),toDate(toString(fecha_control),'dd-MM-yyyy'),toDate(toString(fecha_control),'dd/MM/yyyy'),toDate(toString(fecha_control),'MM/dd/yyyy')),",
						"          semana_gestacion = case(toFloat(semana_gestacion)>=1.0 && toFloat(semana_gestacion)<=42.0, toFloat(semana_gestacion)),",
						"          peso_madre_kg = case(toFloat(peso_madre_kg)>=35.0 && toFloat(peso_madre_kg)<=200.0, round(toFloat(peso_madre_kg),1)),",
						"          {presion_sistolica } = toInteger(trim(split(toString(presion_arterial),'/')[1])),",
						"          presion_diastolica = toInteger(trim(split(toString(presion_arterial),'/')[2]))) ~> limpieza",
						"limpieza sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          control_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as integer,",
						"          nro_control as integer,",
						"          fecha_control as date,",
						"          semana_gestacion as double,",
						"          peso_madre_kg as decimal(5,1),",
						"          presion_sistolica as integer,",
						"          presion_diastolica as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          control_id,",
						"          ci_beneficiaria,",
						"          establecimiento_id,",
						"          nro_control,",
						"          fecha_control,",
						"          semana_gestacion,",
						"          peso_madre_kg,",
						"          presion_sistolica = {presion_sistolica },",
						"          presion_diastolica",
						"     )) ~> sinkSupControles"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_sup_entregas')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bronze_sup_entregas",
								"type": "DatasetReference"
							},
							"name": "srcSupEntregas"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_sup_entregas",
								"type": "DatasetReference"
							},
							"name": "sinkSupEntregas"
						}
					],
					"transformations": [
						{
							"name": "limpieza"
						}
					],
					"scriptLines": [
						"source(output(",
						"          entrega_id as integer,",
						"          boleta_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as integer,",
						"          paquete_id as integer,",
						"          paquete_nombre as string,",
						"          fecha_entrega as string,",
						"          lote_produccion as string,",
						"          peso_paquete_kg as double,",
						"          fecha_proxima_entrega as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT\\n    entrega_id,\\n    boleta_id,\\n    REPLACE(REPLACE(TRIM(ci_beneficiaria),\\'\"\\',\\'\\'),\\' \\',\\'\\') AS ci_beneficiaria,\\n    establecimiento_id,\\n    paquete_id,\\n    REPLACE(TRIM(paquete_nombre),\\'\"\\',\\'\\') AS paquete_nombre,\\n    REPLACE(TRIM(fecha_entrega),\\'\"\\',\\'\\') AS fecha_entrega,\\n    REPLACE(TRIM(lote_produccion),\\'\"\\',\\'\\') AS lote_produccion,\\n    peso_paquete_kg,\\n    REPLACE(TRIM(fecha_proxima_entrega),\\'\"\\',\\'\\') AS fecha_proxima_entrega\\nFROM bronze.sup_entregas\\nWHERE entrega_id IS NOT NULL',",
						"     format: 'query') ~> srcSupEntregas",
						"srcSupEntregas derive(ci_beneficiaria = upper(regexReplace(replace(replace(toString(ci_beneficiaria),'-',''),' ',''),'^([A-Za-z]{2})([0-9]+)$','$2$1')),",
						"          fecha_entrega = coalesce(toDate(toString(fecha_entrega),'yyyy-MM-dd'),toDate(toString(fecha_entrega),'dd-MM-yyyy'),toDate(toString(fecha_entrega),'dd/MM/yyyy'),toDate(toString(fecha_entrega),'MM/dd/yyyy')),",
						"          fecha_proxima_entrega = coalesce(toDate(toString(fecha_proxima_entrega),'yyyy-MM-dd'),toDate(toString(fecha_proxima_entrega),'dd-MM-yyyy'),toDate(toString(fecha_proxima_entrega),'dd/MM/yyyy'),toDate(toString(fecha_proxima_entrega),'MM/dd/yyyy')),",
						"          peso_paquete_kg = round(toFloat(peso_paquete_kg),2)) ~> limpieza",
						"limpieza sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          entrega_id as integer,",
						"          boleta_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as integer,",
						"          paquete_id as integer,",
						"          paquete_nombre as string,",
						"          fecha_entrega as date,",
						"          lote_produccion as string,",
						"          peso_paquete_kg as double,",
						"          fecha_proxima_entrega as date",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sinkSupEntregas"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_sup_establecimientos')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bronze_sup_establecimientos",
								"type": "DatasetReference"
							},
							"name": "srcSupEstablecimientos"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_sup_establecimientos",
								"type": "DatasetReference"
							},
							"name": "sinkSupEstablecimientos"
						}
					],
					"transformations": [
						{
							"name": "limpieza"
						}
					],
					"scriptLines": [
						"source(output(",
						"          establecimiento_id as integer,",
						"          codigo_snis as string,",
						"          nombre as string,",
						"          tipo as string,",
						"          nivel_atencion as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          red_salud as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT\\n    establecimiento_id,\\n    REPLACE(TRIM(codigo_snis),\\'\"\\',\\'\\') AS codigo_snis,\\n    REPLACE(TRIM(nombre),\\'\"\\',\\'\\') AS nombre,\\n    REPLACE(TRIM(tipo),\\'\"\\',\\'\\') AS tipo,\\n    REPLACE(TRIM(nivel_atencion),\\'\"\\',\\'\\') AS nivel_atencion,\\n    REPLACE(TRIM(municipio),\\'\"\\',\\'\\') AS municipio,\\n    REPLACE(TRIM(departamento),\\'\"\\',\\'\\') AS departamento,\\n    REPLACE(TRIM(red_salud),\\'\"\\',\\'\\') AS red_salud,\\n    REPLACE(TRIM(estado),\\'\"\\',\\'\\') AS estado\\nFROM bronze.sup_establecimientos\\nWHERE establecimiento_id IS NOT NULL',",
						"     format: 'query') ~> srcSupEstablecimientos",
						"srcSupEstablecimientos derive(departamento = case(upper(toString(departamento))=='LP' || upper(toString(departamento))=='LA PAZ','La Paz',case(upper(toString(departamento))=='CB' || upper(toString(departamento))=='COCHABAMBA','Cochabamba',case(upper(toString(departamento))=='SC' || upper(toString(departamento))=='SANTA CRUZ','Santa Cruz',case(upper(toString(departamento))=='OR' || upper(toString(departamento))=='ORURO','Oruro',case(upper(toString(departamento))=='PT' || upper(toString(departamento))=='POTOSI','Potosí',case(upper(toString(departamento))=='TJ' || upper(toString(departamento))=='TARIJA','Tarija',case(upper(toString(departamento))=='CH' || upper(toString(departamento))=='CHUQUISACA','Chuquisaca',case(upper(toString(departamento))=='BN' || upper(toString(departamento))=='BENI','Beni',case(upper(toString(departamento))=='PD' || upper(toString(departamento))=='PANDO','Pando',toString(departamento)))))))))),",
						"          sistema = 'SUP') ~> limpieza",
						"limpieza sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          establecimiento_id as integer,",
						"          sistema as string,",
						"          codigo_snis as string,",
						"          nombre as string,",
						"          tipo as string,",
						"          nivel_atencion as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          red_salud as string,",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sinkSupEstablecimientos"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_sup_inscripciones')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bronze_sup_inscripciones",
								"type": "DatasetReference"
							},
							"name": "srcSupInscripciones"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_sup_inscripciones",
								"type": "DatasetReference"
							},
							"name": "sinkSupInscripciones"
						}
					],
					"transformations": [
						{
							"name": "limpieza"
						}
					],
					"scriptLines": [
						"source(output(",
						"          inscripcion_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as integer,",
						"          fecha_inscripcion as string,",
						"          semana_gestacion as integer,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT\\n    inscripcion_id,\\n    REPLACE(REPLACE(TRIM(ci_beneficiaria),\\'\"\\',\\'\\'),\\' \\',\\'\\') AS ci_beneficiaria,\\n    establecimiento_id,\\n    REPLACE(TRIM(fecha_inscripcion),\\'\"\\',\\'\\') AS fecha_inscripcion,\\n    semana_gestacion,\\n    REPLACE(TRIM(estado),\\'\"\\',\\'\\') AS estado\\nFROM bronze.sup_inscripciones\\nWHERE inscripcion_id IS NOT NULL',",
						"     format: 'query') ~> srcSupInscripciones",
						"srcSupInscripciones derive(ci_beneficiaria = upper(regexReplace(replace(replace(toString(ci_beneficiaria),'-',''),' ',''),'^([A-Za-z]{2})([0-9]+)$','$2$1')),",
						"          fecha_inscripcion = coalesce(toDate(toString(fecha_inscripcion),'yyyy-MM-dd'),toDate(toString(fecha_inscripcion),'dd-MM-yyyy'),toDate(toString(fecha_inscripcion),'dd/MM/yyyy'),toDate(toString(fecha_inscripcion),'MM/dd/yyyy')),",
						"          estado = iif(instr(upper(toString(estado)),'COMPL')>0,'Completada',iif(instr(upper(toString(estado)),'INACT')>0,'Inactiva',iif(instr(upper(toString(estado)),'ACTIV')>0,'Activa',toString(null()))))) ~> limpieza",
						"limpieza sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          inscripcion_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as integer,",
						"          fecha_inscripcion as date,",
						"          semana_gestacion as integer,",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sinkSupInscripciones"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pip_bronze')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "df_bronze",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_bronze_carga_completa",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcsegip": {},
									"srcbjaInscripciones": {},
									"srcBjaEstablecimientos": {},
									"srcBjaPartos": {},
									"srcBjaControlesPrenatales": {},
									"srcBjaControlesPediatricos": {},
									"srcBjaPagos": {},
									"srcSupInscripciones": {},
									"srcSupEstablecimientos": {},
									"srcSupBoletas": {},
									"srcSupCatalogoPaquetes": {},
									"srcSupControles": {},
									"srcSupEntregas": {},
									"bronzeSegip": {},
									"bjaIinscripciones": {},
									"sinkBjaEstablecimientos": {},
									"sinkBjaPartos": {},
									"sinkBjaControlesPrenatales": {},
									"sinkBjaControlesPediatricos": {},
									"sinkBjaPagos": {},
									"sinkSupInscripciones": {},
									"sinkSupEstablecimientos": {},
									"sinkSupBoletas": {},
									"sinkSupCatalogoPaquetes": {},
									"sinkSupControles": {},
									"sinkSupEntregas": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pip_bronze_segip')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_bronze_segip",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"bronzesegip": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pip_silver')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "df_silver_segip",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_segip",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcSegip": {},
									"sinkSegip": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_silver_bja_inscripciones",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_silver_segip",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_bja_inscripciones",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcBjaInscripciones": {},
									"sinkBjaInscripciones": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_silver_bja_establecimientos",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_silver_bja_inscripciones",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_bja_establecimientos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcBjaEstablecimientos": {},
									"sinkBjaEstablecimientos": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_silver_bja_partos",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_silver_bja_establecimientos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_bja_partos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcBjaPartos": {},
									"sinkBjaPartos": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_silver_bja_controles_prenatales",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_silver_bja_partos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_bja_controles_prenatales",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcBjaControlesPrenatales": {},
									"sinkBJAcontrolesPrenatales": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_silver_bja_controles_pediatricos",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_silver_bja_controles_prenatales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_bja_controles_pediatricos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcBjaControlesPediatricos": {},
									"sinkBJAcontrolesPediatricos": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_silver_bja_pagos",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_silver_bja_controles_pediatricos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_bja_pagos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcBjaPagos": {},
									"sinkBjaPagos": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_silver_sup_inscripciones",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_silver_bja_pagos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_sup_inscripciones",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcSupInscripciones": {},
									"sinkSupInscripciones": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_silver_sup_establecimientos",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_silver_sup_inscripciones",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_sup_establecimientos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcSupEstablecimientos": {},
									"sinkSupEstablecimientos": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_silver_sup_boletas",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_silver_sup_establecimientos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_sup_boletas",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcSupBoletas": {},
									"sinkSupBoletas": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_silver_sup_catalogopaquetes",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_silver_sup_boletas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_sup_catalogopaquetes",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcSupCatalogoPaquetes": {},
									"sinkSupCatalogoPaquetes": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_silver_sup_controles",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_silver_sup_catalogopaquetes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_sup_controles",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcSupControles": {},
									"sinkSupControles": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_silver_sup_entregas",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_silver_sup_controles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_sup_entregas",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcSupEntregas": {},
									"sinkSupEntregas": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_silver_segip')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_bja_inscripciones')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_bja_partos')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_bja_pagos')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_sup_inscripciones')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_sup_establecimientos')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_sup_boletas')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_sup_catalogopaquetes')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_sup_controles')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_sup_entregas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipsilversegip')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_segip",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcSegip": {},
									"sinkSegip": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_silver_segip')]"
			]
		}
	]
}